[2014-11-02 15:59] mikesparr opened #1 "Support for UA password"
Very nice work! Many RETS servers require a user agent string and user agent password as well.  Does this support the authentication using additional UA + UA password?

[2015-01-17 11:41] coleGillespie opened #2 "All examples are broken"
So I am a bit confused on how this is supposed to work. When following your example I immediately get an error.

[code]

This is because you are trying to get the meta data on a url that has no protocol. For example you just try to get "/whatever/metadeta/" instead of padding the root uri in front of it.

For none of the examples work. How did you get this working locally? The cookies are not savi

[2015-01-17 17:46] sbruno81 commented on #2
Are you able to follow the login example? Are you hitting a live RETS server?

[2015-01-18 02:44] coleGillespie commented on #2
login example works fine, also hitting a live a live rest server. the problem looks like the request inside of the metadata.js is trying to hit a url that does not exist. for example:

[code]

metadataURL = "/some/metadata/path"

instead of "http://baseurl/some/metadata/path"

[2015-01-18 15:06] dermidgen commented on #2
Yes, that is an issue with some RETS servers - it's resolved in my #develop branch.

Regards,
Danny Graham

[2015-01-18 20:18] sbruno81 commented on #2
Ahh interesting, the RETS server I developed against returned the full URL. @dermidgen I'll incorporate your changes. Thanks!!

[2015-01-19 08:02] sbruno81 commented on #2
I went ahead and pushed a fix. The fix is in version 1.1.5. Please give it a try...

[2015-01-21 20:54] #2 closed

[2015-02-23 17:02] tharrington opened #3 "RETS 1.5 unable to get property metadata"
I am not to RETS and am running on version 1.5. I am having trouble getting the examples working. Login is working correctly, but I am getting hungup when trying to get metadata or perform searches. I'm getting a response, but there is no data...

request options var:

*{"uri":"http://connectmls-rets.mredllc.com/rets/server/getmetadata","jar":true,"qs":{"Type":"METADATA-TABLE","Id":"Property:RESI"

[2015-02-23 20:23] sbruno81 commented on #3
Hi Tyler,

It may have something to do with the RETS version, not sure though.

One thing I notice is that the field "id":"Property:RESI" is normally just
"RESI" on the RETS server I've tested with.

Are you able to use a tool like postman in chrome or rest client in
firefox? It might be worth trying to make the URL calls from there,
starting with login, to see what the RETS server returns?

-Stev

[2015-02-23 20:34] tharrington commented on #3
I was able to see results in the browser. Might just use your auth and then do a standard http request from there. Do you think that'll do it?

Also, there is a field called Rental Price (note the space) which shows up in my meta data:
GetMetadata?Type=METADATA-TABLE&ID=Property:RentalHome&Select=StandardName&Format=COMPACT-DECODED

I am trying to do a search on this field but am getting an invali

[2015-02-23 20:47] sbruno81 commented on #3
Great.

I don't know of a way to find out which fields are selectable. Do other
fields work?

On Mon, Feb 23, 2015 at 10:34 AM, Tyler Harrington <notifications@github.com

[2015-03-08 17:17] tharrington commented on #3
I was able to get a query working on the city field:

{
      "SystemName": "CIT",
      "StandardName": "City",
      "LongName": "City",
      "DBName": "CIT",
      "ShortName": "City",
      "MaximumLength": "22",
      "DataType": "Character",
      "Precision": "",
      "Searchable": "1",
      "Interpretation": "",
      "Alignment": "",
      "UseSeparator": "",
      "EditMaskID": "",

[2015-06-05 19:05] jasonshouse opened #5 "Error running example"
##Console Error Output

[2015-06-05 19:06] #5 closed

[2015-06-06 03:01] thebabelfish opened #6 "Examples fail on live 1.7 RETS Server"
I copied and pasted the example code from branch 2.2 (the version with promises...sweet!).

Here is what I had just for clarity:

##The code I ran
//create rets-client

var retsLoginUrl =     'http://######.connectmls.com/rets/server/login'; //changed for this post
var retsPassword = '####; //changed for this post
var retsUser = '#####'; ///changed for this post

var clientSettings = {
    loginUr

[2015-07-08 04:12] zacronos commented on #6
Hey @thebabelfish, sorry I missed this issue.  I've made some updates and bugfixes to this branch since you opened the issue, and I've also fixed a few bugs in the example in the README.  If you try now, using the new example code, do you still hit an error?

[2015-07-23 16:45] zacronos commented on #6
Closing for now on the assumption it is fixed.

[2015-07-23 16:45] #6 closed

[2015-08-19 18:47] youanden opened #9 "Not receiving images with getPhotos / Multipart boundary issue"
So I have a function set up like so:
[code]

and receive the following error:
[code]

I'm guessing the function expects a boundary where there is no match. Perhaps some work should be spent validating such an edge case.

Anyways, I have a metadata response from the server as such:

[code]

The contentType is `text/plain; charset=utf-8` and the callback returns no errors.

Is there something obviou

[2015-08-19 18:50] youanden opened #10 "Potential row limit on server"
I'm trying to execute a line like so:
[code]

The `data.length` is always 5000 when I have no limit or 10000 as my limit. Offset does not work on my RETS endpoint and returns an error like so:
[code]

Do you think this problem is related with the server? Is there something I can do to confirm this from my side? There is no publicly available documentation on my RETS feed website.

[2015-08-19 18:53] sbruno81 commented on #10
Hi Georgiy,

I've experienced the same issue with the rets server I develop against.
Even though I set a limit on some queries to a value greater than 5000 I
only get back 5000. I've seen this happen on a java rets client
implementation and also when hitting the rets server directly. My sense is
that this is a problem related with the server. Is there a technical point
of contact that maintains yo

[2015-08-19 18:57] youanden commented on #10
Thanks for the quick reply,

Yes, we have a point of contact that may be able to answer that for us. I'll go ahead and ask.

[2015-08-19 20:05] sbruno81 commented on #9
Hi Georgiy,

The getPhotos call makes a getObject call that includes an asterisk with
the listing unique id "1234:*" which tells the rets server to return all
the listing photos in one response. The rets server is supposed send a
multipart response that includes a boundary. I could modify the code to
throw an error if the boundary is not present but it still would not solve
your problem. Do you kn

[2015-08-19 20:42] youanden commented on #9
@sbruno81
Thanks for the extra details. The server we have is configured as 1.7.2, and I've seen 1.8 on it before (though I've never tried it).

I am not sure if the server supports sending multiple images in one response.

I do know that in my case, the buffer was not empty. Is there a way to see what was returned from ` function(error, contentType, data)` the data variable?

[2015-08-19 22:06] sbruno81 commented on #9
Are you using an IDE for debugging? You could set a break point on line 58
of lib/object.js.

You should also be able to get one image at time through the getObject call.

On Wed, Aug 19, 2015 at 3:42 PM, Georgiy Slobodenyuk <
notifications@github.com> wrote:

[2015-08-19 22:11] youanden commented on #9
@sbruno81 How would I call getObject for a single image? just pass `matrixId` without a `:*`?

[2015-08-19 22:21] sbruno81 commented on #9
Yes, that should work (from what I recall)

On Wed, Aug 19, 2015 at 5:11 PM, Georgiy Slobodenyuk <
notifications@github.com> wrote:

[2015-08-19 22:22] sbruno81 commented on #9
You could pass it with the * and see what kind of response you get back.
Maybe check the content-type, that could provide a clue of what's going
on...

On Wed, Aug 19, 2015 at 5:21 PM, Steven Bruno <stevenrbruno@gmail.com>
wrote:

[2015-08-19 22:31] youanden commented on #9
Getting:
`text/plain; charset=utf-8`
And when trying to `toString()` the data, I get:
`Object reference not set to an instance of an object.` - I'm assuming because it is a buffer and not an Object.

[2015-08-19 23:12] sbruno81 commented on #9
How about JSON.stringify(data)?

Sent from my iPhone

[2015-08-19 23:25] youanden commented on #9
[code]

[2015-08-19 23:27] sbruno81 commented on #9
Ahh looks like the buffer is in data.data

Sent from my iPhone

[2015-08-19 23:32] youanden commented on #9
Though when I do `console.log(data.data)`, I get undefined.
additionally, when I alter the call to `parseMultipart` like so:
[code]

I get:
[code]

[2015-08-19 23:36] sbruno81 commented on #9
Are you developing against a test server?

Sent from my iPhone

[2015-08-19 23:40] youanden commented on #9
A test RETs server? This one is live.
When I do a `console.log(util.inspect(data))` I get:
[code]

[2015-08-19 23:43] sbruno81 commented on #9
Try putting data into a new Buffer() object

Sent from my iPhone

[2015-08-19 23:47] youanden commented on #9
Wrapping it in a new Buffer() yields the same thing in a console log with/without the util.inspect wrapper:
[code]

[2015-08-21 15:07] youanden commented on #10
Got a response back from my point of contact:

[2015-08-21 15:18] youanden commented on #9
@sbruno81 Is there any way to get access to the protocol request headers?

[2015-08-28 03:35] sbruno81 commented on #9
Sorry it took so long to get back to you.

You can access the request headers on line 47 of lib/object.js. The request object is part of the request library which is documented [here](https://github.com/request/request).

<pre>
<code>
/**
 * Retrieves RETS object data.
 *
 * @param resourceType Rets resource type (ex: Property)
 * @param objectType Rets object type (ex: LargePhoto)
 * @param objec

[2015-09-10 15:39] wgormley opened #11 "Boundary issue with get photos function"
i had to change the following code to
[code]
from
[code]
in the get photos function to get it to work. not sure if this is relevant just to the client i am using or a problem across the board.

[2015-09-14 17:29] sbruno81 commented on #11
Thanks for letting me know.

I reviewed the multipart parsing code and pushed an update to do the following instead:

[code]

[2015-09-14 17:29] #11 closed

[2015-10-21 05:54] zacronos commented on #1
I think this has been implemented for a while now.  Closing this issue -- please open a new issue if needed.

[2015-10-21 05:54] #1 closed

[2015-10-23 02:03] geoffmc opened #14 "getPhotos returning error"
Hi,

The latest version built on promises is awesome! I'm having trouble with getPhotos and can't figure out why. I think it's related to the @retsSession in object.coffee but I've been trying to figure it out forever and haven't gotten anywhere. I don't think it's a problem on the server because I can do other operations (such as getting metadata or listings) and it used to work in the older vers

[2015-10-23 02:56] zacronos commented on #14
Hi @geoffmc, thanks for the report.  That section is the area of the module I've looked at and used the least, so if it used to work in the older version, then it sounds pretty likely you have indeed found a bug.  I'll take a look and see what I can find.

[2015-10-23 14:35] zacronos commented on #14
Hey @geoffmc, I think I've fixed the problem.

I found a couple minor bugs in `object.coffee`, gave it some better error handling, and added the full http response object to the object that resolves from the `getObject()` call -- I've released those changes as v3.1.0 since that's a small feature addition to `getObject()`.

Give it a try and let me know if it works for you now.

[2015-10-23 17:37] geoffmc commented on #14
It's working great now! Thanks for fixing this so quickly @zacronos

[2015-10-23 19:09] zacronos commented on #14
no problem, thanks for the detailed report

[2015-10-23 19:09] #14 closed

[2015-11-14 13:09] scottconrad commented on #10
some RETS providers will give you up to 25 tries to download the full set of data, then it is incrementally after that. Sometimes they only let you go back 14 days, others will have this limit like you mentioned.  I'm working with one right now where they only allow 100 per search, and there are around 130,000 records to download.

[2015-11-14 14:10] zacronos commented on #10
@scottconrad, thanks for the additional input.  For anyone else who finds this ticket, this sort of business rule will have to be dealt with using the `offset` option to iteratively request additional records.

Closing the ticket since this is a server-side setting, not client-side.

[2015-11-14 14:10] #10 closed

[2015-12-11 18:02] joseflexa opened #15 "getPhotos return an error http 500 on a RETS 1.8 server"
Hi.

First of all thanks for rets-client. It is a very nice software ;-)
I have the following test code to get images associated with a ListingID:
[code]

By running this code against a 1.8 RETS server I get the following:
[code]

I know there were recent changes on the getPhotos call. Do you have a clue on how to debug this?

Thanks in advance

[2015-12-11 18:20] zacronos commented on #15
Hi @joseflexa,

From that debug output, it looks like the RETS server is returning an HTTP 500 error.  So there are only 2 possibilities:
* there is something wrong with the way `rets-client` is crafting the query for the photo
* the problem is on the RETS server side

Off the top of my head, I wouldn't expect to get an HTTP error from an improper query.  There are lots of RETS error codes, and mo

[2015-12-12 17:45] joseflexa commented on #15
Hi @zacronos,

Thank you for the quick answer.

For the sake of comparison I've implemented the same photo retrieval routine using PHRETS pointing to the same server and got it working. Also I tcpdumped both the PHRETS and the rets-client photo retrieval calls so I can compare and see what I am missing.

[2015-12-13 15:23] zacronos commented on #15
Great idea!  If you have time, please share the differences you find between the PHRETS calls and the rets-client calls.  I intend to rework the `getObject`/`getPhotos` code at some point (probably in the next few months), as I'm aware of some limitations in the current code -- I'd love to fix the bug you've found while I'm at it.

[2015-12-14 16:27] lance0821 commented on #9
I too am having problems with the multipart boundary error. Although all RETS services are different I a using one based on Matrix also, so I am not sure why I am having the issues. I tried to pull jsut image in the index 1 slot, I tried substituting a known good Matrix ID with an image and still, then same error. Is it due to the boundary checking, or could it be an incompatibility on the depende

[2015-12-14 21:01] lance0821 commented on #9
After searching around a little more, and looking at trying to get librets to compile on OSX again I came across this on the Faq

Why is it on some servers I can not get the first media object when multiple objects are returned?

"This has to do with a malformed response by certain servers. According to RFC 2046, Section 5.1.1:
     The boundary delimiter MUST occur at the beginning of a line, i.e

[2015-12-16 03:39] zacronos commented on #15
Ok, I've rearranged some things in my work queue, and I'm going to start trying to refactor the `getObject`/`getPhotos` code tomorrow rather than a couple months from now.  @joseflexa, if you have anything you've discovered from the tcpdump that might be useful, please send it my way.

Feel free to email me directly if you just want to send me the dump files and let me dig through them.

[2015-12-16 12:34] joseflexa commented on #15
Joe,

Thanks for the rearrangement.

Here is sample dump of call which if failing on the rets-client (it
produces a http 500) and is not failing on PHRETS.

I changed the parameters to anonymize the call:

        GET
/GetObject.asmx/GetObject?Resource=Property&Type=Photo&ID=9999999%3A%2A&Location=0
HTTP/1.1

        Host: def.zzz.com

        Authorization: Digest username="xxxx", realm="rets@def

[2015-12-16 12:39] joseflexa commented on #15
Joe,

[2015-12-16 14:47] zacronos commented on #15
@joseflexa, thanks.  Is that the rets-client call, or the PHRETS call?  Can you provide a tcpdump of the other one for comparison?

[2015-12-16 17:48] zacronos commented on #15
@joseflexa, ok I may have found the problem.  I've cut a v3.2.4 release with the fix, please give it a try and let me know if it works for you now.

[2015-12-17 15:36] joseflexa commented on #15
Joe,

I updated but it seems the fix did not worked. I will produce more dump to
send you later.

Regards,
José

On Wed, Dec 16, 2015 at 4:01 PM, Joe Ibershoff <notifications@github.com>
wrote:

[2015-12-17 16:02] zacronos commented on #15
Ok, thanks.  Meanwhile I'll work on making deeper changes to the `getObject()` code -- with luck, I'll wind up fixing the problem you're hitting through my changes.

FYI, I don't see this problem on the RETS server I'm using, though it is a 1.7.2 server instead of 1.8, so maybe that is the difference.

[2015-12-31 18:11] nmccready opened #16 "Latest version debug dependency issue (3.3.0)"
This code is blowing up [here](https://github.com/sbruno81/rets-client/blob/master/lib/utils/retsHttp.coffee#L6) . Due to https://github.com/sbruno81/rets-client/blob/master/package.json#L18

[2015-12-31 18:15] nmccready opened #17 "Please TAG npm releases"
This makes tracking change history much simpler.

[2015-12-31 19:47] nmccready commented on #16
fixed in 3.3.1

[2015-12-31 19:47] #16 closed

[2016-01-05 14:14] zacronos commented on #9
@youanden and @lance0821: We've just released rets-client v4.0, which includes substantially reworked object/photo handling, in particular for the case of retrieving a single image.  Please try the latest version and see if it works better for you.

If the latest version still has errors, I'd be happy to troubleshoot with you -- version v3.3+ has features to aid debugging.  See the [debugging](htt

[2016-01-05 14:16] zacronos commented on #15
Hi @joseflexa -- we've released v4.0 of rets-client, with reworked object/photo handling.  Please give it a try and see if it solves this issue (though you'll have to make some changes to use 4.0).

If it doesn't work, I've also added some debugging features that should make it much easier to capture the request and response headers.  Details are in the [debugging](https://github.com/sbruno81/rets

[2016-01-06 22:29] joseflexa commented on #15
Hi Joe,

Happy New Year!

Thanks for the release.

I am adapting my test to the new code. As soon as I have an output I will
return to you.

Regards
José

On Tue, Jan 5, 2016 at 12:16 PM, Joe Ibershoff <notifications@github.com>
wrote:

[2016-01-07 03:51] joseflexa commented on #15
Joe,

Hi.
The issue remains with version 4.0. I will dig for more information and
post it to you.

Thanks
José

On Wed, Jan 6, 2016 at 8:29 PM, Jose Flexa <jose.flexa@gmail.com> wrote:

[2016-01-07 04:09] zacronos commented on #15
Ok, thanks.  If you would follow the steps to turn on HTTP request and response header logging as described [here](https://github.com/sbruno81/rets-client#debugging) and then send me the console output, I expect it will have something useful.

[2016-01-15 03:41] briviere opened #20 "Example failing with Miscellaneous Error"
I tried running your METADATA-RESOURCE with debug.  I tried the same request in postman and it also returns the same message (http://rets.mresdms.com:8080/rets/rets/getMetadata?Type=METADATA-RESOURCE&Id=5280890&Format=COMPACT)

Below is the Debug output:

Debugger listening on port 16195
  rets-client:main RETS login: +0ms {}
  rets-client:request request: +18ms { debugId: 1,
  uri: 'http://rets.m

[2016-01-15 04:08] zacronos commented on #20
The error code 20513 indicates the server encountered an internal error, but without any other details of the nature of the error.  There's not much I can do without more information.  Please reach out to tech support with your RETS/MLS and see if they can tell you the cause of the error.  If the response they give you is informative enough, I will do my best to fix the problem.

I notice the RETS

[2016-01-19 17:45] morr0350 commented on #20
I believe this is a case sensitivity issue: the ID query param should be all-caps, like:  http://rets.mresdms.com:8080/rets/rets/getMetadata?Type=METADATA-RESOURCE&ID=5280890&Format=COMPACT).   I tested this with "Id" and got the same <RETS ReplyCode="20513" ReplyText="Miscellaneous Error"/>, but with "ID" the request works.

[2016-01-19 18:25] zacronos commented on #20
Good catch, @morr0350!  v4.0.2 fixes ID param casing for metadata queries.  I'm going to close this ticket assuming this fixes it -- if it doesn't @briviere, please create a new ticket.

[2016-01-19 18:25] #20 closed

[2016-01-20 14:03] briviere commented on #20
It is working better but I'm getting an error on the OpenHouse Table Metadata request::

ERROR: issue encountered: TypeError: Cannot read property 'info' of undefined
    at /home/brian/rets-example/retsexample.js:74:37
From previous event:
    at /home/brian/rets-example/retsexample.js:70:10
    at /home/brian/rets-example/node_modules/rets-client/dist/client.js:131:18
From previous event:
    at

[2016-01-20 14:30] zacronos commented on #20
@briviere  Just before the line causing the error (retsexample.js:74) which should look like `outputFields(data.results[0].info);`, can you put in `console.log('@@@@@@@'+JSON.stringify(data,null,2));` and send over the output from that?

[2016-01-21 12:05] briviere commented on #20
Here it is:

@@@@@@@{
  "results": [],
  "type": "METADATA-TABLE",
  "headerInfo": {
    "retsVersion": "RETS/1.5",
    "contentType": "text/xml",
    "contentLength": "87",
    "date": "Thu, 21 Jan 2016 12:04:14 GMT",
    "server": "Apache Coyote/1.0",
    "connection": "close"
  },
  "replyCode": "0",
  "replyTag": "OPERATION_SUCCESSFUL",
  "replyText": "Operation Successful",
  "entriesReceived

[2016-01-21 13:53] morr0350 commented on #20
What are you passing in your code as the Resource and Class in the call to client.metadata.getTable()? It looks like you're just getting an empty response and my first guess would be that either the Resource or Class name in the ID param aren't matching what the server expects.

[2016-01-21 17:34] briviere commented on #20
//get field data for open houses
        return client.metadata.getTable("OpenHouse", "OPENHOUSE");

I'm just trying to run the rets session examples with updated ClientSettings and photoSourceId.

Brian

[2016-01-21 17:49] morr0350 commented on #20
The example session has example resources and classes in those parameters, but I would bet that the actual MRES/Black Knight server you are working with has a different name for the open house class.  Typically, MRES has the name "OPEN" rather than "OPENHOUSE" for the open house table.  Try `return client.metadata.getTable("OpenHouse", "OPEN");`  and see if that works.

[2016-01-21 17:54] zacronos commented on #20
As @morr0350 said, the example code in the README is just an example, and will likely need to be modified for your server's data schema.  The line `return client.metadata.getTable("OpenHouse", "OPENHOUSE");` blindly uses the IDs `"OpenHouse"` and `"OPENHOUSE"`, but your server may use different IDs, or for all I know (I haven't looked at the differences in RETS 1.5) it may not even have a separate

[2016-01-21 18:05] briviere commented on #20
Yes that appears to be the case,  I will give the above a try.  Thanks for all your help, greatly appreciated :).

Resource name: OpenHouse [OpenHouse]

Class name: OPEN []

Table name: PROPERTY_DISTRICT [] (1)

Table name: COUNTER [] (8)

Table name: OFFICE_NAME [] (1)

Table name: MLSNUM [ListingID] (1)

Table name: PROPERTY_SUB_DISTRICT [] (1)

Table name: NOTICE_COUNTER [ActivityID] (8)

Table

[2016-03-02 11:07] avtaniket opened #21 "TypeError: Cannot read property 'RETS' of undefined"
Hi, I have come across issue, when connection to MLS server to fetch property data.

/home/node_modules/rets-client/lib/utils.js:8
    var replyCode = result.RETS.$.ReplyCode;
                          ^
TypeError: Cannot read property 'RETS' of undefined
    at Object.replyCodeCheck (/home/node_modules/rets-client/lib/utils.js:8:27)
    at /home/node_modules/rets-client/lib/search.js:25:20
    at

[2016-03-04 15:28] lance0821 opened #22 "Nothing returned to console"
When executing any of the examples, nothing is returned back to the console. I would expect to get credential errors or some sort of console log but I am just greeted with the command prompt again. Any help on troubleshooting this problem would be appreciated. I am using node 5.6.0 and npm 3.7.2. Do I need to possibly downgrade my versions? I also forgot to add I know my RETS server is looking for

[2016-03-04 16:50] zacronos commented on #22
That is strange.  I generally use node 4.x and npm 2.x, but I just tested with your versions and confirmed the problem does not exist.  (I did, however, find a couple typos in the example code, and have fixed them in latest/v4.0.4.)

It sounds like you're pasting code into the terminal.  Are you returned to the actual command prompt (which generally looks like `> `) or do you get the 'waiting for

[2016-03-04 17:14] lance0821 commented on #22
I did have my code in a file and executed it with node sample code.js. I cut and pasted the code from the readme, should I cut and paste from another source? Thanks again

[2016-03-04 20:45] zacronos commented on #22
That's correct, but I did make a couple changes to the example code in the readme after you opened this issue.  Are you still having the same problem?  If so, please try again after setting DEBUG to `rets-client:*` and let me know what happens.

[2016-03-04 21:57] lance0821 commented on #22
Ok thanks I will check it out when I get home and report back

[2016-03-04 23:24] lance0821 commented on #22
GET vs POST will not cause errors? With Trulia RETS client, libRETS, and PHRETs I have to configure my library to use POST. Is this necessary with rets-client?

[2016-03-05 14:03] lance0821 commented on #22
ok it looks like the fixed code in the README works now, thanks a lot!

[2016-03-05 14:24] lance0821 opened #23 "Photo Stream Example error"
When trying to run the photo stream example after replacing the photo ids with another id that is in my MLS I get an error 'Unhandled rejection TypeError: photoStream.on is not a function' is there a type-o in this example or an error in the way I am using it?

[2016-03-05 15:42] lance0821 commented on #22
After checking the examples and issuing a query for a property I am greeted with a 404 error, I have looked at the DMQL string in debug and compared it to the one used for Openhouse (Which works fine), I have double checked my fields and suitable values for a query and everything looks fine, it is using a GET request and I think I need it to use a POST request for my Listing class, how can I confi

[2016-03-05 17:36] zacronos commented on #22
Hmm.  There is currently no way to configure that.

I'll take a look at the RETS standard and see if it says when to use GET versus POST.  If it does, I should be able to change the code behind the scenes to do this properly.  If it doesn't (and it is a server-specific requirement), then I'll have to add a feature to allow selecting the method as an option.  I'll try to get to this soon.

[2016-03-05 17:37] zacronos commented on #23
I'll take a look at this soon.  I'm not sure if it's an example typo, a usage error, or a bug in the code itself.

[2016-03-05 18:34] lance0821 commented on #22
Could I add the parameter method: 'POST' to the request in the base code? If so where would I add this just to verify its my issue?

[2016-03-05 19:23] zacronos commented on #22
I think you could change all requests to use POST instead of GET by changing lines 25-27 of retsHttp.js to:
[code]

But since that's in a helper function used for all requests, I'm not sure a simple change there will work -- that would change all requests to POST, and since some of your queries worked fine (login, Openhouse, maybe some others) they might need to stay with GET.

Even to test whethe

[2016-03-05 19:27] zacronos commented on #21
Hi @avtaniket, based on the stacktrace, it looks like you are using v1.x of rets-client.  latest/master is v4.x, which is a pretty thorough rewrite including more consistent error handling, so I would suggest changing your code to use that version.  If you still have problems when using 4.x, I'll dig into it.

If you really want to stick with v1.x, @sbruno81 might be able to help you as he maintai

[2016-03-05 19:52] lance0821 commented on #22
Ok thanks I'll give it a try. I think all my queries will work with POST. With other libraries I've configured them to use POST and had no issues.

[2016-03-05 23:12] zacronos commented on #22
Great, let me know the results.

[2016-03-05 23:13] lance0821 commented on #22
Do you have any resources I can look over to implement this library, requesting certain fields, and how to utilize the streams? I'm not a Nodejs or Javascript guru but this seems like the best library for my purposes I have tried so far.

Thanks for the help I was able to get rets-client to submit post requests by modifying lines 67-71 of client.js to look like this
[code]

[2016-03-08 00:04] zacronos commented on #22
Ok, thanks for the info, it has been very helpful.

The RETS standard seems to say both GET and POST should be fine, except for update actions which are not possible with rets-client anyway.  So, this seems to be yet another case of "some servers just don't obey the standards".  :-/

Based on your results, I've added a client setting to allow specifying the method (v4.1.0 release).  For backwards

[2016-03-08 00:04] #22 closed

[2016-03-08 00:10] zacronos commented on #23
There are 2 places in the photo stream example that use `photoStream.on ` -- try `photoStream.objectStream.on` instead and see if that fixes it.

[2016-03-10 03:05] geoffmc opened #24 "Streaming example always rejecting"
In the streaming example do you maybe have the (reject, resolve) mixed up in the promise? When I run the example code it is always rejecting at the end when it hits the "done" event. If I swap them to be (resolve, reject) then it seems to work perfectly.

Under the heading "Simple streaming example" this is the line:
return new Promise(function **(reject, resolve)** {

[2016-03-10 13:10] zacronos commented on #24
Indeed I do.  I'll fix it.  Thanks!

[2016-03-10 13:10] zacronos commented on #23
Any word on whether that fixed the problem for you?

[2016-03-10 14:36] lance0821 commented on #23
Changing photoStream.on to photoStream.objectStream.on seems to fix the error, but I get an error outputFields is not defined. I copied and pasted the code that defined the output fields in another example, then I get an error that photoResults is not defined.

[2016-03-10 15:00] zacronos commented on #23
Ok, I've fixed a few more typos in that example...  looks like I really screwed that one up somehow.  Give it a try and let me know.

[2016-03-10 15:00] #24 closed

[2016-03-10 15:48] lance0821 commented on #23
ok, tried here are my results
[code]
output
[code]
[code]
output
[code]
[code]
output
[code]

[2016-03-10 16:18] zacronos commented on #23
Great, looks like good output to me.  If you look at `/tmp/photo*`, you should see the images you downloaded saved to files.  I'm going to close this ticket since it seems done, but if you continue to have difficulty with this feel free to add them here.

[2016-03-10 16:18] #23 closed

[2016-03-10 16:59] lance0821 opened #25 "Property Stream Example"
When trying to run the property streaming example code, the function seems to execute, but I don't see any evidence of returned results? Is this the expected behavior?

[2016-03-10 17:12] zacronos commented on #25
What are you doing for `doAsyncProcessing()`?

I've changed the example now to provide a sample `doAsyncProcessing()` function that displays the results -- and importantly, which demonstrates how you have to call the `callback`.  Does that help?

[2016-03-10 21:06] lance0821 commented on #25
Thanks I'll check it out when I get home and let you know.

[2016-03-11 20:48] lance0821 commented on #25
Yes that helped a lot thanks again

[2016-03-12 23:29] lance0821 opened #26 "Overcome server limit"
If there a built in option to , pull the results in chunks and overcome the RETS server limit?

[2016-03-14 13:24] zacronos commented on #26
I'll leave this ticket open in case someone wants to implement it and contribute a PR, but honestly I expect that such a feature would be more complicated than it sounds to implement.

[2016-03-14 13:25] #25 closed

[2016-03-14 14:14] lance0821 commented on #26
Could a count parameter of 2 be used in client settings, then a loop based on an offset?

[2016-03-14 14:57] zacronos commented on #26
Using `count: 2` will work most of the time, but there is no guarantee there won't be changes to the result list while you are looping.  The safest way to do it is to check the `maxRowsExceeded` flag on every result, and continue to query using offset whenever that is `true` -- but even that isn't guaranteed to work.  Depending on your search query, on rare occasion you could see a listing twice i

[2016-03-22 19:07] li-cn opened #27 "Cannot override "format" in client.search.query"
The Canadian Real Estate Association (CREA) maintains a RETS database called [Data Distribution Facility (DDF)](http://www.crea.ca/newsroom/data-distribution-facility-documentation/). Their implementation permits users to request data with formats: "COMPACT", "COMPACT-ENCODED", "STANDARD-XML", "STANDARD-XML-ENCODED".

The database returns more detailed data when serving requests for "STANDARD-XML"

[2016-03-22 20:01] zacronos commented on #27
That is the intended behavior.

The reason for stripping out any user overrides on those options is that currently, the code which handles the response assumes it is `format=COMPACT-DECODED`.  It would be great to handle additional formats, however it would be at least a fair bit of effort (possibly some substantial refactoring) to add this feature.

If you (or anyone else) would like to submit a

[2016-03-23 00:59] li-cn commented on #27
@zacronos Thanks for the explanation!

[2016-03-23 23:16] luncht1me opened #28 "Not doing anything with 'set-cookie' header??"
I'm trying to use this to connect to RETS, I have a user/pass UA and UApass, authorized by a local board.

On first login, I get a 401 Unauthorized which contains the header 'set-cookie:', but as far as I can tell, this client doesn't do anything with this header? The RETS 1.7 docs say this is a challenge which then needs to recalc UA-Auth w/ so I've tried manually setting this incoming ID as my s

[2016-03-24 03:16] zacronos commented on #28
Basic cookie handling happens implicitly through the "jar" functionality of the `request` dependency.  It sounds like some special handling is needed though.

As for how the rest of us are successfully connecting, keep in mind that one (IMO frustrating) things about RETS is that it gives servers a lot of flexibility in terms of behavior.  I haven't checked but I would assume the standard doesn't _

[2016-03-24 15:54] luncht1me commented on #28
Thanks for getting back to me, I'm actively trying to get this to work, so when I do successfully get things happening I'll let you know what I had to do for this kind of login transaction.

[2016-03-24 21:55] luncht1me commented on #28
Alright, it's a new issue. I'm not sure what happened but now my cookies are getting set when Set-Cookie is sent from the server as you described..

What's required for me specifically, which I'm currently working on, is that my 'RETS-UA-Authorization' header needs to be dynamic. I see you have already in `client.js` the propery UA-Authorization function which takes SessionID into consideration. T

[2016-03-24 23:25] zacronos commented on #28
Gotcha.  There's no way to do that currently from outside rets-client.

If you're working on a PR, note that you'll need to make changes to the coffeescript code, as the javascript is transpiled from it.

From within rets-client, I think you'll want to save a reference to the "cookie jar" that is created for the client (see line 54 of client.coffee).  After login you can check the jar for the cook

[2016-03-25 21:43] nohona opened #29 "RETS Server replied with an error code - ReplyCode 20200 (UNKNOWN_QUERY_FIELD)"
Not sure if I am using the proper field, RETS was just updated with new fields. (ActiveYN does not exist). I apologize, for not being more informed.

[code]

Tried non-stream example code with following result:

[code]

[2016-03-25 23:55] zacronos commented on #29
Hi @nohona .  Unfortunately, each RETS server can have its own data schema, so the fields available on one server are not necessarily available on another, and there is no way to make a one-size-fits-all example.  You can look at the examples to see a little bit of what you could be doing and how, but that's as much as they will do for you.  Since ActiveYN doesn't exist for you, you'll either need

[2016-03-26 18:39] nohona commented on #29
Hi Joe,

Thanks for addressing my issue. I did try several combination, but wasn't
able to get any data returned. I guess, I have to dig in deeper and
aproach it differently. I am currently using the RetsConnector pushing the
plain CSV output into a mongo database. My original goal is to create
a REST API. Also, I am hoping the local MLS will make the new Web API
available soon.

Thanks again,
Mic

[2016-03-27 00:53] zacronos commented on #29
Gotcha.  Let me know if you have any other questions.

[2016-03-27 00:53] #29 closed

[2016-03-28 22:45] luncht1me commented on #28
Thanks for the input, I'll look into modifying the coffeescript at some point.

But, here's what I did to get this authorization scheme to work.

I defined two functions, one is taken directly from the client - the function that computes the User-Agent Auth Header, and another which detects the RETS-Session-ID cookie in the client headers, strips it out and sets it to the settings.sessionId proper

[2016-04-01 08:34] avtaniket commented on #21
@zacronos as suggested, I updated to latest version, but still getting same issue sometimes.

`TypeError: Cannot read property 'RETS' of undefined
    at Object.replyCodeCheck (/opt/node_modules/rets-client/lib/utils.js:8:27)
    at /opt/node_modules/rets-client/lib/search.js:25:20
    at Parser.<anonymous> (/opt/node_modules/xml2js/lib/xml2js.js:488:18)
    at Parser.emit (events.js:95:17)
    at

[2016-04-01 11:10] avtaniket opened #30 "TypeError: Cannot read property '0' of undefined"
Hi, I have come across issue, when connection to MLS server to fetch property data.

Using node v4, rest-client latest v4, please let me know if your need additional info to look into this issue.

`TypeError: Cannot read property '0' of undefined
    at /opt/nurealtor-services/node_modules/rets-client/lib/auth.js:45:34
    at Parser.<anonymous> (/opt/nurealtor-services/node_modules/xml2js/lib/xml2

[2016-04-01 13:26] zacronos commented on #21
Please double-check that you are using rets-client v4.x.  (You will probably have to change your code to use 4.x properly, as it has a very different API than 1.x does.)

The stack trace you are giving is impossible with the 4.x version.  There is no `replyCodeCheck` function, and there isn't even a `utils.js` file -- the code has been almost completely rewritten between 1.x and 4.x.

[2016-04-01 22:11] #28 closed

[2016-04-12 07:34] avtaniket commented on #30
@sbruno81 Can you please assist to fixed above issue, we are using v1.2

[2016-04-12 16:03] sbruno81 commented on #30
Hi Aniket,

I tried running some tests with node v4 and could not replicate your issue.

What version of RETS is your target server running?

-Steve

On Tue, Apr 12, 2016 at 2:34 AM, aniket takarkhede <notifications@github.com

[2016-04-19 07:06] avtaniket commented on #21
@zacronos Update the script with version 4.1.4 and have below error which occurs sometimes

`Unhandled rejection Error: [object Object]
    at Object.ensureErrorObject (MEAN/properties/node_modules/rets-client/node_modules/bluebird/js/main/util.js:261:20)
    at Promise._rejectCallback (MEAN/properties/node_modules/rets-client/node_modules/bluebird/js/main/promise.js:469:22)
    at MEAN/properties

[2016-04-28 03:07] josephbisaillon opened #32 "Issue with query on RETS/1.7.2"
I'm trying to do a simple query but I keep getting an error thrown.

`client.search.query("Property", "ALL", "(County=|10000005773)", {limit:25, offset:1})`

`ERROR: issue encountered: RetsReplyError: RETS Server replied with an error code - ReplyCode 20203 (MISC_SEARCH_ERROR); ReplyText: Illegal RestrictedIndicator character, values are a..z, A..Z, 0..9`

Just wondering if I am doing something wr

[2016-04-28 03:10] josephbisaillon commented on #32
Oh and even if I remove the | in the query it still gives the same error.

[2016-04-28 13:29] zacronos commented on #32
Huh, well that's weird.  The arbitrary restrictions MLSs choose to impose never cease to surprise me.

Try adding the option: `restrictedIndicator: 'RESTRICTED'` and see if that does it.  The default we use in this library is `***`, but apparently your MLS doesn't allow that.

[2016-04-29 01:49] josephbisaillon commented on #32
That worked, thanks!

[2016-04-29 01:49] #32 closed

[2016-04-29 14:33] avtaniket commented on #30
For your kind info we are using,

RETS version: RETS/1.7.2

[2016-05-05 19:38] jatsrt opened #34 "getObjects Boundary issue"
When parsing a server result with the following format, the multipart parser is only picking up every other item from the list.

[code]

[2016-05-05 19:54] jatsrt commented on #34
So, this is an issue with the formidable multipart parser I beleive

[2016-05-05 23:30] jatsrt commented on #34
Since there is not data part, just headers, it essentially is taking the next part as the data to the previous part's headers.  Anything that does not have an even number of items will not parse.  No data is legit for a multipart piece of data.

[2016-05-06 13:16] zacronos commented on #34
Hmm, nice catch.  Just to confirm, is this problem on the 4.x code?

[2016-05-06 13:18] #26 closed

[2016-05-06 16:40] jatsrt commented on #34
Yeah, using 4.1.4.

[2016-05-06 17:28] zacronos commented on #34
Ok.  Looks like the formidable module is not getting much active maintenance right now, so a fix for this may require forking the multipart parser.  Ouch.

If you want to take a stab at a PR/fix for this, it would be more than welcome.  If not, I'll eventually fix this, but unfortunately we've hit an extremely busy period with my job, so it may take a while before I can get to this.

[2016-05-13 22:17] zzeng4 opened #35 "Unexpected end of xml stream."
ERROR: issue encountered: RetsProcessingError: Error while processing RETS response for search - Unexpected end of xml stream.
    at null.<anonymous> (/Users/Ubene/Documents/rets/node_modules/rets-client/dist/utils/retsParsing.js:209:19)
    at emitNone (events.js:67:13)
    at emit (events.js:166:7)
    at Parser.end (/Users/Ubene/Documents/rets/node_modules/rets-client/node_modules/node-expat/l

[2016-05-14 02:28] zacronos commented on #35
I just made some changes to error handling, so it's possible I introduced a bug.  Do you still get an error if you use version 4.1.x instead of 4.2.0?  (It wouldn't be the same error, because `RetsProcessingError` didn't exist prior to 4.2.0)

[2016-05-16 02:16] zzeng4 commented on #35
I haven't try yet, but I guess this is because the incompatibility of versions. As the remote server is running at RETS v1.7, not even v.1.72, so it probably is the issue of the server side. Is there anyone else that met the same error like it before?

[2016-05-20 10:04] petercz1 opened #36 "error: options.uri is a required argument"
Hi Bruno,

I'm getting the above error with 4.2.0 - it's an error coming from request.js 2.72.0 line 244:

[code]

Here are my options:

[code]

Am I doing something wrong? (again ....)

PC

[2016-05-20 11:15] petercz1 commented on #36
never mind.... MORE COFFEEE.....

[2016-05-20 11:15] #36 closed

[2016-06-01 14:11] Xtremehead opened #37 "Unable to get any Search queries"
I've successfully been able to log into the RETS server through code, but I'm unable to get any search queries to work even though I'm passing what looks to be the only required field Status. It always returns with:

Required search fields missing. Reference ID: 32d76453-0bdf-43af-8f84-0550ed24dff2

Am I doing anything wrong? ( I'm testing out the endpoint in C#)
https://gist.github.com/lynx44/151

[2016-06-02 02:45] zacronos commented on #37
After looking at that gist, I'm not sure what is going on.  Are you using `rets-client` under the hood somehow?

Every RETS server is different and has different rules, so it's really hard to say, especially since I can't see any code that references `rets-client`.  If there is a bug in how you are using `rets-client`, for example, there's no way for me to spot it.

Since you have a Reference ID,

[2016-06-03 06:52] nshkuro commented on #36
Hi Peter,
I got the same error. Can you say how you solve this problem?

[2016-06-03 07:04] nshkuro opened #38 "Error: options.uri is a required argument"
Hi guys,  thanks for your work!

I have some troubles. I always get the error after login call and all next request are broken.

Node version: 4.4.5
Request version: 2.72.0

[2016-06-03 10:24] petercz1 commented on #36
Hi,

I can't remember (and I've just checked my code again to see if it jogs my memory!) but it was definitely a mistake on my part. I do remember solving it my knocking up a test rig and building out from that, and it was something simple.

PC

[2016-06-19 23:05] ranleung opened #39 "Pulling all data using rets-client"

[2016-06-20 22:14] #39 closed

[2016-06-21 22:09] ranleung opened #40 "client.search.query without passing resource or class."
Hi,

I am using RetsConnector to query city and status (Status=|A),(City=|Pasadena) and is able to successfully get data back.

![retsconnector_example](https://cloud.githubusercontent.com/assets/5177175/16248048/b5baae8c-37c1-11e6-9811-34cd4aeedc42.png)

However, when I am using
[code]
I am getting an undefined error.  Is there a way to omit resource and class parameter?

Thanks

[2016-06-22 00:10] ranleung opened #41 "getAllObjects promise never resolves."
Hi, just wanted to ask if anyone else is having this problem.  Whenever I call get `getAllObjects`, `getObjects`, or `getPreferredObjects`, I do not get a promise returned.  No resolve or reject is invoked in my callback.  Note that I am able to login properly.

Here is my code:
[code]

[2016-06-22 16:54] zacronos commented on #40
I don't know how that would work.  It is possible RetsConnector is using the "Property" resource by default since it is a well-known name, but I'm not sure how a suitable class could be chosen by default.  I suggest you inspect the resources and classes available via your RETS and use those values, rather than passing blank values.

[2016-06-22 16:54] #40 closed

[2016-06-22 16:54] zacronos commented on #41
I'll look into this soon.  Hopefully it is just a small bug.

[2016-06-27 18:15] li-cn opened #42 "RetsProcessingError: Error while processing RETS response for getObject - Unexpected end of data: MultipartParser.end(): stream ended unexpectedly: state = START"
Sometimes, I get the following error on getObject requests: `RetsProcessingError: Error while processing RETS response for getObject - Unexpected end of data: MultipartParser.end(): stream ended unexpectedly: state = START`

This issue seems to occur infrequently, once in every few thousand getObjects requests. My server will successfully download photos for hundreds of listings using the `client.

[2016-06-28 14:39] zacronos commented on #42
Sorry, I don't have any insight into what is happening here.  Knowing if certain response data reliably leads to the problem would certainly be very good to know.

It is possible this error could be the correct behavior (e.g. if the RETS server is sending incomplete image data or closing the connection early).  Whether a transient data error like that is the problem or not, it might fix things for

[2016-07-01 04:06] josephbisaillon opened #44 "cloning RETS DB"
I'm wondering what method you use to download the entire RETS database that you are accessing. I want to create an initial clone copy that I can just scan for changes on after I clone it. The issue is that overflowing memory while trying. I'm just interested to hear if you have an established method of doing this? Or any suggestions from anyone?

[2016-07-01 04:33] zacronos commented on #44
Are you using the streaming methods?  Memory efficiency is the big plus for them.  App code is more complicated to write that way, but there's no way around the fact that if you load all the data into memory at once, you're going to have to use a lot of RAM.

[2016-07-01 04:42] josephbisaillon commented on #44
Oh no, I'm a dummy, I didn't even see the streaming example. At a glance that is probably the proper solution for me! I'll give that a try tomorrow, thanks for the suggestion!

[2016-07-05 21:35] josephbisaillon commented on #44
I seem to still be getting the "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - process out of memory" even when using the example code.

The only thing different that I did was use the ES6 Promises instead of bluebird. Any ideas?

[2016-07-06 14:04] zacronos commented on #44
Are you also just using the example `doAsyncProcessing()`, or did you add in some of your own code at that step?  If you do anything that keeps references to the data or in any way builds up the data in memory rather than handling it as it flows through the stream and then forgetting about it, you will wind up with memory problems.  If you're confident you're not doing that...  then I'm not sure w

[2016-07-07 17:03] josephbisaillon commented on #44
I'll do some additional troubleshooting tonight. I'm starting to have a feeling it might be related to Mongoose which I am saving each piece of data with.

[2016-07-13 03:53] josephbisaillon commented on #44
The root of the issue is actually in mongoose, closing this issue out.

[2016-07-13 03:53] #44 closed

[2016-07-17 04:17] josephbisaillon opened #45 "Streaming example doesn't work with slower operations"
I noticed that if you use the streaming example and put a setTimeout(callback, 500) the application will eventually use up too much memory and give an exception.

_FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - process out of memory_

Is this normal behavior, are the transformations I am applying during the streaming process too much? I am trying to cast the strings ss different types before

[2016-07-18 00:59] zacronos commented on #45
Hmm.  I don't have that problem while using the streaming API, but I'm not trying to coerce any data in the process.  It is entirely possible part of the streaming code in rets-client needs to be changed to properly create backpressure.  I'll try to get to this at some point, but honestly my time right now is very limited.  If you are at all familiar with node streams and want to take a look, be m

[2016-07-18 16:38] ranleung commented on #44
@josephbisaillon is there an email I can contact you at?  I am in a similar state and would grateful if I can chat with you about it.  Thanks

[2016-07-18 18:10] josephbisaillon commented on #44
@ranleung sure thing my email is bisaillonjd@gmail.com go ahead and shoot me a message.

 If you are looking to download a large set of data and not get the memory error. I found using the native mongodb npm library and just saving the data immediately without any string manipulation works. I created a new Issue about slower operations causing the memory issue.

[2016-07-18 18:11] josephbisaillon commented on #45
Yup as a work around saving the values as it does work. I'm currently using that strategy, I'll dive into the code base a little to see if I can contribute to a fix.

[2016-07-19 17:15] esvinson commented on #37
If I remember properly sefrets needed a | (pipe) before the options for a lookup field.
(246=|A,B,C,CS,PS,Q,T,W,X)

[2016-07-19 23:25] esvinson commented on #38
Most likely you are using a login that doesn't have proper access.
You're probably getting a response similar to this after login:
[code]

This doesn't have the normal GetMetadata, GetObject, and Search endpoints.  Only Login, Logout, and whatever X-Selector is.

http://stackoverflow.com/a/11240432/385824

A bit of error handling should probably be added to client.login to handle logins to a feed

[2016-07-21 05:10] zacronos commented on #42
I've now seen a similar but not identical error and I think I have a solution -- once I've seen the issue replicate itself so I can verify the fix, I'll update master.

[2016-07-24 17:17] AndriyShepitsen commented on #3
Hi guys, I had a similar issue with rental price, but I found a clue in your conversation.
search?SearchType=Property&Class=RentalHome&QueryType=DMQL2&Format=COMPACT&StandardNames=0&Query=(CIT=chicago),(ST=ACTV)&Count=1&Limit=10&Select=RP

We just need to set StandardNames to 0 and then use SystemNames. Thank you for the ideas.

[2016-07-30 00:14] RonCan opened #52 "RETS-SessionID is invalid after a couple of requests"
I'm trying to replicate data from RETS server but as soon as I make around 2/3 queries I get the following:
`error: {"err":{"retsMethod":"search","httpStatus":401,"httpStatusMessage":"RETS-Session-ID is invalid.","name":"RetsServerError","message":"RETS Server error while attempting search - HTTP Status 401 returned (RETS-Session-ID is invalid.)","headerInfo":{"server":"Microsoft-IIS/6.0","xAspNet

[2016-08-01 15:17] #15 closed

[2016-08-01 15:17] #41 closed

[2016-08-01 15:52] zacronos commented on #42
I haven't seen the issue again, but I've merged the fix anyway.  Hopefully the error can be caught and handled better now.

[2016-08-01 15:52] #42 closed

[2016-08-01 16:41] zacronos commented on #52
It's hard to say from just that information.  I would suggest trying to create a very simple example that replicates the problem, and then post that code -- someone might be able to see if there is an issue in your code.

An example issue would be if you are not using promises correctly, and there is a race condition where your client gets logged out while you are still making queries -- that coul

[2016-08-08 08:51] ameerh opened #54 "XML parsing error: not well-formed (invalid token)"
Hi,

Thanks for the great library.

I'm getting 'XML parsing error: not well-formed (invalid token)' for some calls. Mostly it's when I increase limit or put no limit. Like in this case limit 50 works but limit 100 or more doesn't.

[code]

The same call directly works fine
[code]

[2016-08-08 16:44] ranleung commented on #54
+1.  Getting the same error.  Comes up randomly.
For example, when I limit to 2000, sometimes i will get the error at 1302.  But when I run the same query again, it runs properly.

Note that I am also using Rets version: RETS/1.7.2.

[2016-08-10 21:23] RonCan commented on #52
It was happening because another instance of the client using the same credentials was running as a cron job and some RETS servers do not allow more than one connection at a time and the latest session is kept and all the others log out, my bad. Closing this now

[2016-08-10 21:23] #52 closed

[2016-08-15 20:15] jwdotjs opened #56 "Debugging"
[code]

I am of the opinion that if an option is available in the module that it should be available both in production and during development. For instance, our team may want to dump out logs from rets-client in prod and look at production logs to track a particular error. This could be possible with flipping an ENV var, but since there is a dev-dependency that would fail and the restart would cr

[2016-08-15 20:17] jwdotjs commented on #56
Also as a side note, this came up because our project had request-debug as a dependency but it wasn't utilized anywhere in our repo so it seemed safe to remove. Then once that was merged, things suddenly break because a required dependency of an installed module doesn't exist.

[2016-08-15 20:46] zacronos commented on #56
Fair enough, I think I was concerned about performance, but since I already have to to ensure `request-debug` isn't used unless an appropriate option is turned on, this probably isn't an issue.  Yes, a PR like you described would be merged.

[2016-08-15 21:19] esvinson commented on #54
Try setting the parserEncoding option to ISO-8859-1.

Based on your parameters I'm guessing it's the feed I had to implement that feature for.

[2016-08-19 08:33] ameerh commented on #54
Thanks for the reply.

Here's how I'm setting the 5th parameter:

`
return client.search.query("PROPERTY", "RES", "(ListingStatus=|1), (LastModDt=2016-08-16T00:00:00-2016-08-17T00:00:00)", {limit: 100}, {parserEncoding: 'ISO-8859-1'})
`

And

`
return client.search.query("PROPERTY", "RES", "(ListingStatus=|1), (LastModDt=2016-08-16T00:00:00-2016-08-17T00:00:00)", {limit: 100, parserEncoding: 'ISO-

[2016-08-19 14:28] esvinson commented on #54
Was going to mention that the last param should be a string.  Glad it's working for you now!

[2016-08-23 22:56] esvinson commented on #34
The problem with this is the RETS provider implemented RFC 1521 version of the HTTP spec which doesn't require a CRLF before the boundary. 2046 appears to be the current version as of like 1999.  I have a possible fix for this, but since formidable isn't really maintained anymore I doubt it's going to get merged in.  https://github.com/knledg/node-formidable/commit/e28e0ab061f0be669d95d1cdbc21ba77

[2016-08-24 12:57] #56 closed

[2016-08-24 13:05] #54 closed

[2016-08-24 13:11] zacronos commented on #34
@esvinson: As a stopgap, it seems like I could change `package.json` in this module to use `git://github.com/knledg/node-formidable#master` instead of the fork published on npm.

What do you think?

[2016-08-24 14:50] esvinson commented on #34
Before we do that I need to run a few more tests to make sure it acts as expected if the first character of the body is a hyphen but not a boundary.

[2016-08-24 15:01] zacronos commented on #34
Got it, no problem.  If and when you get to that point, let me know and I'll make the change.

[2016-08-24 16:26] esvinson commented on #38
As a followup to this, we were getting the missing endpoint issue when connecting with a non-whitelisted IP address.  Switching to a proxy that had the whitelisted IP fixed the issue.

[2016-09-09 02:10] mastreips commented on #30
same problem node v.6.3.1

[2016-09-09 13:22] zacronos commented on #30
@mastreips: what version of rets-client are you using?

[2016-09-12 00:26] mastreips commented on #30
RETS 1.7.2

[2016-09-12 02:10] zacronos commented on #30
@mastreips: can you please create a separate ticket for this issue and provide an example of your code that causes the issue?

The original issue raised here was with rets-client v1.2, and the `Cannot read property '<something>' of undefined` error message is a generic javascript error message, so they are probably unrelated.  Thanks!

[2016-09-12 02:56] mastreips opened #61 "ERROR: issue encountered: TypeError: Cannot read property 'info' of undefined"
I get the error below when running on rets-client 4.6.0, node v.6.3.1, RETS 1.7.2:
==============================================
========  Residential Table Metadata  ========
===============================================
ERROR: issue encountered: TypeError: Cannot read property 'info' of undefined
    at /home/bitnami/node_modules/rets-client/dist/simple_client.js:84:37
    at tryCatcher (/hom

[2016-10-11 17:32] RonCan opened #62 "client.objects.stream.getObject doesn't reject the promise when fails"
I'm getting a`Error while processing RETS response for getObject - XML parsing error: syntax error` in the fail function of `object.stream.js` but it doesn't reject the promise and hence, without notifying the client, the program closes. Please fix

[2016-10-11 19:32] zacronos commented on #62
@RonCan:

I'm not sure what you mean; the `fail` function does reject the promise: https://github.com/sbruno81/rets-client/blob/master/lib/clientModules/object.stream.coffee#L152

Please note what version of `rets-client` you are using, and include a sample of code that leads to the error.

[2016-10-25 13:09] nmccready opened #63 "tough-cookie 0.13.0 and punycode 2.X"
punycode 2.X technically requires node >= 6.X . npm lets you slide on this restriction however yarn does not. Should a different version of tough-cookie be used?

@zacronos

[2016-10-25 13:13] nmccready commented on #63
Lastly it seems since tough-cookie hit version 1.1.0 it removed punycode as a dependency.

https://github.com/salesforce/tough-cookie/tree/v1.1.0

[2016-10-25 13:19] nmccready commented on #63
I also do not see tough-cookie being used anywhere. However, there are no specs there fore I get no warm fuzzy when I remove it.

[2016-10-25 13:30] nmccready commented on #63
https://github.com/sbruno81/rets-client/pull/64

[2016-10-25 13:31] zacronos commented on #63
It looks like the dependency can be removed.

As for specs, it is actually very difficult to create specs for this library since any meaningful activity requires RETS server creds.  If an open test server were available, then specs could be written which use that server, but otherwise, so much would have to be mocked that the specs would be almost 100% useless.  The only test RETS server I've ever

[2016-10-25 13:32] nmccready commented on #63
It is not possible to set up a mock http server that returns mock responses?

[2016-10-25 13:46] zacronos commented on #63
Accurately mocking the RETS spec and real RETS server behavior (which sometimes includes mistakes such that they don't follow the actual HTTP spec: see https://github.com/sbruno81/rets-client/issues/9#issuecomment-164558381) would be a really big undertaking, especially considering the desire to support multiple versions of the RETS standard and how so many places in the RETS standard say things l

[2016-10-25 13:52] #63 closed

[2016-10-27 04:11] RonCan commented on #62
I was using `4.1.0` version of rets-client. Using the latest version solved it for me

[2016-10-27 04:11] #62 closed

[2016-10-27 05:58] RonCan opened #65 "Way to check if client is logged-in before making a call"
Is there any way to check whether the client is logged in before making a RETS request say for photos of a resource?

[2016-10-27 12:01] zacronos commented on #65
I believe the only way to be 100% sure is to make a RETS request of some sort -- if you've already logged in with a client, but have allowed the connection to go idle, the RETS server may choose to invalidate your login and the client would have no way to know.

[2016-11-24 19:11] svenvarkel opened #66 "Error when searching"
Hi!

First thanks for effort to create client software for such a complex system!

I can connect and authenticate to CARETS (California RETS) but I get an error when I try to search for listings:

`            return client.search.query("Property", "RES", "(ListPrice=100000%2B)")`

would give

`{ RetsReplyError: RETS Server reply while attempting search - ReplyCode 20203 (MISC_SEARCH_ERROR); Reply

[2016-11-24 19:23] esvinson commented on #66
Add a 4th parameter as:
[code]

It defaults to *** which isn't acceptable by some RETS servers.

[2016-11-25 08:02] svenvarkel commented on #66
Thanks, it helped!

[2016-11-25 08:02] #66 closed

[2016-12-09 20:26] nmccready commented on #45
@josephbisaillon can you post an example of your work around? I currently just started having streaming issues that are causing network failures.

In a nutshell my entire pipeline is working but it is only failing while it is in progress piping through express to the browser.

[2016-12-09 20:28] nmccready commented on #45
@josephbisaillon nvm, please disregard. I talked to zacranos and he thinks this is unrelated.

[2016-12-14 21:20] #65 closed

[2016-12-14 21:22] #38 closed

[2016-12-14 21:26] zacronos commented on #45
FYI, I've been giving the code some close scrutiny lately, and I've determined that indeed, the way I wrote the streaming code bypasses the normal backpressure mechanism.  A proper fix would require not just some refactoring of the existing code, but likely also a rewrite of the MultipartParser dependency.

There's at least one other reason to consider doing such a rewrite, so I'll probably do it

[2017-01-19 13:50] jayrosen1576 opened #67 "Unhandled exception for autoLogoutClient method with bad server address or no internet connection"
In doing some use case testing, I am getting an unhandled exception while testing a case where the internet connection is interrupted:

`Unhandled rejection Error: getaddrinfo ENOTFOUND retsgw.flexmls.com retsgw.flexmls.com:80
    at errnoException (dns.js:26:10)
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:77:26)`

There does not seem to be a way to catch this exception from outside

[2017-01-19 13:57] jayrosen1576 commented on #67
Ugh. Never mind. I didn't realize that 'getAutoLogoutClient' was also returning a promise. Solved my own issue.

[2017-01-19 13:57] #67 closed

[2017-02-10 16:58] schang933 opened #68 "Unnecessary Error Throwing"
GetObject shouldn't be a necessary URL [here](https://github.com/sbruno81/rets-client/blob/master/lib/client.coffee#L97) as it's not required in RETS standard 1.7.2 (see section 4.7.5 in [RESO spec](https://github.com/sbruno81/rets-client/files/767256/rets_1_7_2.pdf)).

I'd suggest just removing that else statement. I can give you a PR but I don't Coffee so it'll be naive at best.

[2017-02-10 22:26] #68 closed

[2017-02-15 08:29] ameerh opened #70 "Consistency issue with www.rapattoni.com/rets-servers"
I have been using rets-client with www.rapattoni.com/rets-servers and the rest feed is never consistent i.e. sometime it connects and returns data, sometime it throws unautherised 401 error. Following is the script.

[code]

and error:

[code]

The error as I said, does not always come (but mostly it does).

In case the data is returned successfully, 401 error is still caught:

[code]

Using versi

[2017-02-15 11:31] svenvarkel opened #71 "Correct installation procedure"
Hi!

What's the correct procedure of installing rets-client?

Simply installing it with npm install rets-client would give errors like

Error: Cannot find module './dist/api'

It works when I go to node_modules/rets-client and run another npm install in that folder. Before that I have to create lib/ folder manually. Otherwise it fails.

[2017-02-15 12:04] #71 closed

[2017-02-15 14:27] esvinson commented on #70
This seems like an async issue.

We're using this with the same feed and not seeing any issues.  Only differences I see are we're using POST as the method and a proxyUrl.  Try enabling the debugging environment variable: `DEBUG=rets-client:*` and see if you notice anything odd with the requests.  The 2nd one looks like it could be calling logout twice for some reason.

[2017-02-16 07:56] ameerh commented on #70
Thanks for the reply @esvinson

Following are the three attempts which did not respond with results but slightly different debug logs:

1
[code]

2
[code]

3
[code]

The one returning data but with logout error

[code]

I'm using POST now but did not make much of a difference.

[2017-02-16 19:50] esvinson commented on #70
The proxyUrl would be a URL to a proxy service, not a boolean.   We're limited to a single IP for SFAR so we route through a proxy server in order to be able to test things in multiple environments.

For some reason it seems to be losing authentication for you.  It doesn't appear to be related to an IP filter as that returns a 403 instead of a 401 in my testing.  We are limited to a single connect

[2017-02-17 07:20] ameerh commented on #70
Perhaps I need to contact SFAR support and get their view. I will post the solution here if I found one.

Thanks @esvinson for looking into it.

[2017-02-20 14:37] zacronos commented on #70
@ameerh, as @esvinson mentioned, some RETS servers limit the number of simultaneous logins for an account.  I've seen different RETS servers use different errors to indicate this -- 401 is definitely one of them.

So it is possible that if you are ever trying to run more than one query at the same time (even from a different computer), that could be the condition which triggers the 401 errors.

[2017-02-22 06:59] ameerh commented on #70
Thanks @zacronos. I just heard from the support and your suspicions seem to be correct. Sharing their response:

![screen shot 2017-02-22 at 11 36 41 am](https://cloud.githubusercontent.com/assets/5346601/23200131/7a62eb84-f8f4-11e6-9932-6d955eda2de9.png)

According to their response once another session is requested all the previous sessions are terminated and the current one should work thereaft

[2017-02-22 15:01] howardengelhart opened #72 "Timestamps in photo objects"
Hi.. when using .objects.stream.getObjects to retrieve images for a listing I see timestamps coming back with strings ```"modifiedDate":"1/3/2017 11:03:56 AM"```.  Is that how it comes from the source?  Looking to see how to handle timezone.  Thanks.

[2017-02-22 15:23] zacronos commented on #72
Hi @howardengelhart,

There is no custom handling of timestamp metadata for photo objects, so what you are seeing must be the way it comes from the source.

Depending on the RETS version of the server you are working with, there may be a timezone offset specified in the results of the `.metadata.getSystem()` call.  If there's not, I believe the RETS specs specify that you should assume UTC (though

[2017-02-22 15:28] howardengelhart commented on #72
[code]
bummer.  I'll take it up with the vendor.  Thanks for the quick reply @zacronos !

[2017-02-22 15:28] #72 closed

[2017-02-22 21:14] zacronos commented on #70
I just noticed in your client settings, you are setting both a username/password and also a userAgentPassword.  Is this intentional?  I see you also aren't setting a sessionId in your client settings, which I thought was required for user agent authentication.

FYI, I've never used the user agent authentication myself, as I don't have access to a server that uses it.  So I'm not sure whether your

[2017-02-22 21:39] esvinson commented on #70
His settings are correct specifying a password and user agent password for that feed, as we have to do the same thing.  As for us, we've never had to set the sessionId manually as that's actually populated in the auth function now.
https://github.com/sbruno81/rets-client/blob/master/lib/utils/auth.coffee#L26

[2017-02-22 21:53] zacronos commented on #70
Ok, thanks @esvinson.  I may need to update the README so the user agent example settings are more realistic.

[2017-02-22 22:30] esvinson commented on #70
For reference, out of all the feeds we have only 4 use user-agent auth, but they all require username and password auth as well, so we haven't seen any that are just user-agent auth only (yet).

[2017-02-28 14:21] svenvarkel opened #73 "Queries fail often with statusCodes 401 at authentication or 400 at search"
I'm trying to connect to CARETS (California MLS) and sometimes the client works, sometimes not. It randomly fails with exactly the same parameters, authentication etc.

Has anyone noticed that?

The query is very simple:
[code]

Debug info:

[code]

[2017-02-28 14:36] esvinson commented on #73
We don't have any issues with CARETS.

I'm not seeing an error in your debug info, a 401 auth challenge between requests is expected behavior.

[2017-02-28 16:46] zacronos commented on #73
@svenvarkel are you trying to run multiple queries simultaneously with the same credentials?  Some RETS servers limit or completely forbid that, and one of the ways they communicate that is with a 401 Unauthorized response.

Different servers can have very different behaviors regarding simultaneous logins, unfortunately.  Some prohibit the new login that would go past the limit, others invalidate

[2017-03-01 12:10] svenvarkel commented on #73
Thanks for quick replies!

I add some more logs here, now with the 400 error, too. I'm not trying to connect too many times etc. I have a simple test script, that uses rets-client to authenticate and make this one search and it fails randomly. I'll try to contact CARETS support to see if they can help.

Nevermind the difference in query params in this search - it acts the same weird way. Sometimes

[2017-03-01 14:22] zacronos commented on #73
Thanks for posting the additional error.

Hmm.  Off the top of my head, I don't see anything wrong.  (That doesn't mean there isn't though, I could very easily be missing something.)

If you can get in touch with CARETS support, I'd be very curious to hear what they say the problem is.

[2017-03-01 14:27] esvinson commented on #73
Try specifying your RETS version as 1.7.2.  We're using 1.7.2 with CARETS and it appears you're using 1.8.

[2017-03-01 14:49] svenvarkel commented on #73
Thanks for tip, @esvinson! I tried with it earlier with similar results, then changed to 1.8 and if I remember correctly it worked also for some requests. Anyway, now all my requests are failing. I'll continue investigating it. Soon I'll go as deep as using wireshark and intercepting raw network requests:)

[2017-03-01 15:38] svenvarkel commented on #73
I did some more testing and I'm facing exactly the same behaviour with PMAR (Portland MLS), too. Some requests work, some fail. I'm still trying to figure out the pattern.

[2017-03-01 18:01] svenvarkel commented on #73
I now got a tiny bit of information - the  'set-cookie':
      [ 'JSESSIONID=CE25F0B0CCE8562A72C3311F98FF8C5D; Path=/; HttpOnly',
        'JSESSIONID=CE25F0B0CCE8562A72C3311F98FF8C5D; Path=/' ],

header DIFFERS in those cases where request fails for subsequent requests (auth, search). The JSESSIONID is the same for successful requests.

[2017-03-01 18:42] svenvarkel commented on #73
After debugging and thinking a lot about the flow I finally understood that the problem was in my implementation. I'm used to simpler promises flow than in that client. I resolved  a promise or two too early and this caused the autoLogoutClient to log out. In order to overcome that I initialize the standard client and log out manually after pulling everything I need.

Thanks to all of you for tryi

[2017-03-01 18:42] #73 closed

[2017-03-03 16:21] howardengelhart opened #74 "Question.. Is it possible to specify more than one Property Class in a single search?"
For instance.. Resi,Condo,Coop?  I looked through the code and it doesn't seem like much is done with the class param.. so was wondering if there was a value that could be used to search across all classes..

[2017-03-03 17:06] esvinson commented on #74
The RETS spec does not support that.  You'd need to do a separate query on each class and then combine the results in your code.

http://www.rapattoni.com/rets-172-specification/file
Section 7.3.1

[2017-03-03 18:19] howardengelhart commented on #74
That’s what I thought, thanks!

[2017-03-17 14:53] GifCo opened #75 "Offset when doing consecutive search.query() is not working properly?"
Hey, just hoping for a bit of help.

I am testing out performing an initial download of a RETS database (we are not aloud to do ad hock search queries to the DB we must download and maintain an entire copy ourselves and then perform searchers from our own DB)

I call getAutoLogoutClient() and then perform the first search.query() using a RETS test server that only returns 963 records. I am also li

[2017-03-17 15:08] zacronos commented on #75
That...  is definitely a strange problem.  The fact that you can get the correct number of records with a single query and `offset: 900` leads me to suspect a problem with your loop of some sort.

Looping with promises can be tricky, so it seems very possible there is something subtle that needs to change, rather than something big and obvious.  Generally speaking, you should be fine calling `.get

[2017-03-17 15:22] esvinson commented on #75
Are you specifying the limit param as `limit` (all lower case)?

Can you enable the debug environment variable `DEBUG=rets-client:*` and show the query string that it's generating?

Which RETS feed are you seeing this with?

If all else fails, you can do a query to pull back the KeyField only (Per RETS spec there shouldn't be a limit when returning just the key field), and then chunk those values

[2017-03-17 16:06] GifCo commented on #75
@zacronos  yea I'm sure it is something with my loop. This is kind of embarrassing but here is my code please note I was just hacking away on this for hours last night just trying every little thing to make it work so its quite a mess.

[code]

@esvinson yea I am using limit all lower case and it seems to work fine, for initial testing I was using limits of 5, 10, 100 and no issues there.
I am usi

[2017-03-17 16:12] zacronos commented on #75
Ok yeah, the problem is definitely the way you were using a regular looping construct with something async happening inside -- basically, with this code as-is, you were firing off a bunch of requests all at once without waiting for them to finish.

That's fine (if your RETS server allows it), except that you were incrementing the offset only after your received the data -- so you were essentially

[2017-03-17 16:23] zacronos commented on #75
Also, as some general advice, I'm a fan of the shotgun-logging approach to troubleshooting.  ;-)  Take a look at this snippet, I bet with these debug logging lines in place you would have been able to figure out what was happening:

[code]

Having looked closer at your code, I think you will actually NEED to remove the inner `getAutoLogoutClient()` calls for this to work (in addition to moving the

[2017-03-17 16:54] GifCo commented on #75
@zacronos THANK YOU!! Moving the offset_increment outside the closure did the trick I think. I was going a bit crazy yesterday as I could see it was duplicating some of the requests so the first 200 were all fine but then 300 and 400 blocks were duplicates.

I am still trying to get the hang of promises so sorry for the noob question. I also love the shotgun-logging approach as well, before I copy

[2017-03-17 17:00] esvinson commented on #75
Cleaner example using async/await instead of the promise chain.. (I haven't tested this)

It should at least show the logic you should be using.
- Single login client
- Singe search loop

[code]

[2017-03-17 17:17] GifCo commented on #75
@esvinson thanks for that! After I actually got this working I was going to ask what is the best way to go about this.
Is it your opinion that it is always better to use asnyc/await instead of just promises when you need to do looping like this?

Thanks for the advice. Much appreciated.

[2017-03-17 17:19] zacronos commented on #75
I believe the reason you are getting sporadic `NOT_LOGGED_IN` errors is also related to your promise handling -- when a promise is returned within a `getAutoLogoutClient()` handler, the session will automatically be logged out as soon as that promise is resolved or rejected.  With your code as it is (even with the suggestions I've made so far), that first outer query you make is being allowed to r

[2017-03-17 17:25] esvinson commented on #75
@GifCo Not necessarily, but for this instance I think it's better, as you have an unknown (at the start) number of async requests you need to make, so there's not an easy way to doing a Promise.map or Promise.each type call.

[2017-03-17 17:48] GifCo commented on #75
@zacronos Yes I think its safe to assume my promise handling could do with some improving. :)
The way I have gotten it to work properly and consistently now still has getAutoLogoutClient() being called on every iteration of the loop. In the code below I have hard coded my counter so ignoring that for the time being does this seem ok? Or should I really try and avoid calling getAutoLogoutClient() s

[2017-03-17 17:54] zacronos commented on #75
What you have now looks like it would be fine for RETS servers which allow enough simultaneous logins -- using `getAutoLogoutClient()` this way means you are doing a separate login and logout for each query you want to make.  Keep in mind though that if there is a limit on simultaneous logins of e.g. 10, then you won't have any problem on the test server (since pulling <= 1000 listings in batches

[2017-03-17 18:15] GifCo commented on #75
@zacronos yea that makes sense. Probably safer to not have so many unnecessary logins.

Thanks again. Have a good weekend!

[2017-03-17 18:28] esvinson commented on #75
Sticking to a single login is the best option.

You could try a recursive approach to calling pullListings

This looks kind of ugly but should work.

[code]

[2017-03-20 20:48] GifCo commented on #75
Thanks for the recursive suggestion @esvinson , I've refactored and it is much cleaner and easier to read however I am seeing a pretty massive performance drop compared to just using a while loop. After executing with the loop as fast as I can tab over to couchDB there are already 961 records there. With recursion I tab over see a few hundred and have to reload/wait about 30-40 seconds before all

[2017-03-20 20:55] esvinson commented on #75
I'd expect it to be a bit slower as it's waiting for the query to finish before it moves on to the next, whereas the old one would just fire off a ton of queries/connections at the same time.

Also, you might want to clear the extra info out of your URLs above :-P

[2017-03-21 14:53] GifCo commented on #75
@esvinson thanks! Its just a local dev setup but still not a good idea to leave that stuff in there!

[2017-03-21 14:53] #75 closed

[2017-03-21 15:01] GifCo commented on #61
Did you also include the Output Helper function right above the client code?
Also different RETS have different Class and Property types. I know I had issues when I was first testing this module out.

[2017-03-21 17:00] GifCo commented on #27
Hi @zacronos , I'm also on CREA RETS and am looking into getting results in STANDARD-XML.  I cant see anywhere in the non-streaming `search.coffee` module where it removes the format query option. Is any format option also removed as `search.stream.coffee` has `search.coffee` as a dependency?

[2017-03-21 20:08] esvinson commented on #27
search.query uses search.stream.query.

From some simple testing it looks like you could use search.searchRets then parse the XML response manually.
Example:
[code]

[2017-03-21 20:36] zacronos commented on #27
The format query option is removed at https://github.com/sbruno81/rets-client/blob/master/lib/utils/queryOptions.coffee#L27, so any function which calls `queryOptionHelpers.normalizeOptions()` will have format forced to `COMPACT-DECODED`.

@esvinson is correct though, if you are willing to parse the XML yourself you can do that now.  Natively supporting other formats aside from `COMPACT-DECODED` w

[2017-03-21 20:52] GifCo commented on #27
Thanks @esvinson l'll give that a try. At this point I am really just interested in seeing what "extra" data I can get from using Standard-XML.
It would be nice though to have native support for different formats. Regardless of the missing data I get from using compact CREA's tech spec also says I should be using standard-xml everywhere if possible.

@zacronos If I actually get anywhere with this

[2017-04-07 15:24] #74 closed

[2017-04-07 15:25] #37 closed

[2017-04-17 19:30] gstreetmedia opened #76 "All numeric values are converted to strings"
I realize that one can first create a typemap for converting the data to its correct format. But is there a reason that all numeric values are converted to Strings values by default? I'm not really familiar with CS, but I've been pouring through the code trying to find out where this happens, but have had no success so far.

[2017-04-17 20:00] esvinson commented on #76
I'd assume this is because there's not really any way to tell the type of of the variables being returned by the RETS server unless you were to pull back the table schema first (which would slow everything down)

Example RETS query response:
[code]

Nothing in there says the type.  In the example of the last entry with a leading 0 in a number, that would be a string, but with all previous values y

[2017-04-17 20:05] zacronos commented on #76
The reason you're not finding it is because the code in this module doesn't convert values to strings.  The start as strings, and this module simply passes them through as-is.

This is further complicated by the fact that even a value which is known to be a number could come back as a special value which means "we have a value, but we're not going to give it to you".  So you shouldn't be assuming

[2017-04-17 20:05] #76 closed

[2017-04-25 03:09] nmaves opened #77 "Thoughts on non-native dependencies"
I am using this library inside of an AWS lambda.  This library requires native dependencies to be compiled and this does play well with a system like lambda.

Would it be tough to use https://github.com/dcodeIO/bcrypt.js/blob/master/README.md over crypto to avoid this compilation issue?

[2017-04-25 12:42] zacronos commented on #77
`crypto` is being used here to generate a hash using the md5 algorithm.  `bcrypt` uses the Blowfish cipher, not md5.

The RETS standard requires the use of md5, it is not simply an internal choice.  So no, `bcrypt` cannot be used as a drop-in replacement for `crypto` in this case.

With that said, there is almost certainly a pure-javascript implementation of md5 which could easily be used instead.

[2017-04-27 17:39] barrct commented on #77
Since I'm in the same boat, here's what my plan is.
According to AWS's specs here http://docs.aws.amazon.com/lambda/latest/dg/current-supported-versions.html Lambda is running on Amazon Linux. That's good, because I can spin up an EC2 instance based on the _current as on 2017/04/27_ AMI amzn-ami-hvm-2016.03.3.x86_64-gp2.

So, my plan is to
1. spin up a T2 EC2 instance from amzn-ami-hvm-2016.03.3.x

[2017-05-01 14:41] barrct commented on #77
So, one thing to note with this precedure that does work.... yum's standard version is 0.10.x so that won't work. Just do a curl --silent --location https://rpm.nodesource.com/setup_6.x | sudo bash - and make sure you have Node 6 in, do the compile, push the node_modules back into your repo or zip it up for Lambda and your set.

[2017-05-01 21:49] nmaves commented on #77
I actually just use the Amazon Linux docker image and compile is there.

[2017-05-05 15:27] GifCo opened #78 "Photo Streaming for multiple listing ID's returns Invalid Identifier."
Hi guys,

I am unable to get more than a single listings photos at a time when using objects.stream. I can pass in a single listing ID and get all photos for that listing no problem. However when I pass in an array or an object with multiple listing ID's I get Invalid Identifier.

Could you let me know if the client.objects.stream.getObjects() is handling the request for multiple listings or is th

[2017-05-05 15:46] zacronos commented on #78
It should be handled at the RETS server level, as you noted the `rets-client` code just concatenates them and lets the server handle it all at once.  Of course it is possible there is something happening incorrectly with the concatenation.

Can you turn on debugging (https://github.com/sbruno81/rets-client#debugging) and post the ID string that is being used?  Also, can you let us know which RETS

[2017-05-05 15:54] esvinson commented on #78
From what I can tell in the RETS 1.7.2 spec it should allow you to specify an ID string with comma separated values of something like: `LISTINGID1:*,LISTINGID2:*`  I haven't tested to see if the rets-client is generating that value properly when specifying multiple Listing IDs, as we currently only do photo syncing for individual listings.  As zacronos mentioned a debug output would be helpful to

[2017-05-05 17:18] GifCo commented on #78
Hey thanks for the reply's!

So I'm on RETS 1.7.2

Using client.objects.stream.getObjects() and passing in an array:
let photos = ['18045583', '16592327', '16947720']

The ID being passed to the RETS is "ID": "18045583,16592327,16947720"

passing in an object:
let photoIds = { '18045583': '*',   '16592327': '*',     '16947720': '*'   };

RETS ID =  "ID": "16592327:*,16947720:*,18045583:*"

Passing

[2017-05-05 17:31] esvinson commented on #78
Try using `getAllObjects` instead of `getObjects` when passing an array.

[2017-05-05 17:50] GifCo commented on #78
Didnt even see that! But unfortunately still gives me the same error:

 ERROR: issue encountered:
      replyCode: "20402"
      replyText: "Invalid Identifier"
      name: "RetsReplyError"
      replyTag: "INVALID_IDENTIFIER"
      retsMethod: "getObject"
      queryOptions: {
        "Location": 0,
        "ObjectData": "*",
        "Type": "LargePhoto",
        "Resource": "Property",
        "

[2017-05-05 18:38] esvinson commented on #78
I just tested and it appeared to work when using getAllObjects
Example:
[code]
POST parameters generated:
`Location=1&ObjectData=%2A&Type=Photo&Resource=Property&ID=502880%3A%2A%2C503056%3A%2A%2C504941%3A%2A`
URL Decoded: `ID=502880:*,503056:*,504941:*`

That returned the results I was expecting.

[2017-05-05 18:44] GifCo commented on #78
@esvinson yea I'm starting to think this is not supported with my RETS.  When passing in exactly what you have I still get Invalid Identifier even though rets-client is passing in the ID's correctly

[2017-05-08 19:57] jbendercode commented on #78
Also having issues with what has been mentioned above. Did you have any luck contacting CREA support staff?

[2017-05-08 20:54] GifCo commented on #78
@jbendercode yes I just got a reply a few hours ago. CREA DDF does not allow getObject calls with multiple ID's. Only a single Listing ID at a time unfortunately.

There suggesting for initializing a new DB and downloading all photos for all listing is to simply pull the master list and start downloading listing by listing one at a time.

Hope this helps. Closing the issue now.

[2017-05-08 20:54] #78 closed

[2017-06-17 21:00] GifCo opened #79 "RetsProcessingError: Unexpected end of data: MultipartParser.end()"
Hey,

I have a specific listing that does not throw any error and just makes my getObject() call fail.

Below is my DEBUG=rets-client:request and DEBUG=rets-client:multipart output. As you can see in the request output at the bottom it is returning 31 object-id's. But when it goes to retrieve the objects as shown in the multipart output it stops at 24, then skips to object-id : 26 which is not a j

[2017-06-17 22:25] esvinson commented on #79
After reviewing section 9 of http://www.crea.ca/wp-content/uploads/2016/02/DDFDataFeedTechnicalDoc-2016-3.pdf it doesn't look like they support Location=1, (generally this will just return a 'Location' header which you can use to download the image manually, you could give it a try but I'm not sure that'll work, they might support specifying the header value for Accept as `Image/jpeg` instead of `

[2017-06-17 23:09] esvinson commented on #79
They had test credentials in that document, so I messed with it a bit.  They appear to completely ignore the Location=1 parameter.  Modifying the `Accept` header to `image/jpeg` doesn't cause any errors on the request and still returns 10 images on their example, so that might be a valid option.  I'd recommend manually modifying the `node_modules/rets-client/dist/utils/retsHttp.js` file as stated

[2017-06-18 15:32] GifCo commented on #79
@esvinson

Ok so I tried modifying the ```Accept``` header to ```image/jpeg''' and get the exact same result. It still shows 31 object ID's in the request output.

Have you ever seen this before? I assume this has to be an issue on CREA's end? If there really is 31 images even their own website only displays 24. I seem to be running into more of these possibly corrupted listings so tomorrow I will

[2017-06-18 16:32] esvinson commented on #79
It is definitely bad data on CREA's part, but it shouldn't cause the rets-client to hang either way.

Reviewing the code and logs it looks like `done` is false and `partDone` are still false when it's already seen the stream ended error.  Since those aren't true and the stream has ended it's never resolving the callback.   It is set to just debug log multipart parsing errors instead of throwing er

[2017-06-18 16:58] GifCo commented on #79
@esvinson  ok so changing ```done``` to true ```partDone``` to true got it to work!!! It does look like CREA has made a mess of this data, it still says there are 31 object-id's the last photo downloaded is 24, but there are only 22 images in total (it skips 18 & 22). I am guessing the agent removed some images from the listing and their system did not update the metadata with the new object-id's

[2017-07-01 16:17] #79 closed

[2017-07-05 03:49] Jscott388 opened #81 "Loop through limit offset"
Been at this for a few days but is it possible to loop this to fetch for all the data since there is a 2500 limit?

[2017-07-05 04:02] esvinson commented on #81
You can check out some of the code samples in #75

I prefer using the async/await method as it makes it significantly easier.

[2017-07-07 03:31] #81 closed

[2017-07-25 17:26] rajeshdh opened #82 "RETS Server error while attempting search - HTTP Status 401 returned (RETS-Session-ID is invalid.)"
I am trying to search for agents based on the rets listing but I am getting this error **RETS Server error while attempting search - HTTP Status 401 returned (RETS-Session-ID is invalid.)**

Here is my code
[code]
And the output

[code]

[2017-07-25 18:12] esvinson commented on #82
It seems like when you call getAgentData(0); it's going to just return right after that, and end your session.

You might need to wrap that in a Promise, so it has time to process the agent queries before the logout happens.

Something like this (untested)

[code]

[2017-07-27 04:18] nmaves opened #83 "Issue running query"
Here is the query

[code]

and here is the error

[code]

From the debug log I can see the uri below

[code]

I don't see the issue but the rets guys say that the query I have is valid.

[2017-07-27 04:27] esvinson commented on #83
By adding the &Select to your query it's escaping the & to be %26 which is invalid, as it thinks that's part of the DMQL  query.
Your select fields should be passed in the 4th parameter to the search query.
`client.search.query('Resource', 'Class', '(Matrix_Unique_ID=0+)', {select: 'Matrix_Unique_Id'})`

[2017-07-27 04:40] nmaves commented on #83
Wow, that worked like a charm.  We should really add that to the docs :)

[2017-07-27 04:40] #83 closed

[2017-08-25 19:08] invisibled opened #84 "Inconsistant searches, getting ReplyCode 20701 (NOT_LOGGED_IN) alot"
Hoping i can get some advice about searching with your library. For the record, this script does work, the issue is more often than not, i get `RETS Server reply while attempting search - ReplyCode 20701 (NOT_LOGGED_IN); ReplyText: Not Logged In` in the `getListingKeys` function.

This script gets called from a `POST` request, with a `ListingId` as the payload. It then searches all of the realtor'

[2017-08-25 19:28] zacronos commented on #84
It looks to me like the main problem is that you need to be in the habit of returning promises from your functions -- for example I think the first line of `getListingKeys()` should start with `return`, and similar for the first line of `getProperties()`.

You may also need to `return crea.getListingKeys()` from inside the `getAutoLogoutClient()` closure.

Give those a try -- if you need more cont

[2017-08-25 19:39] invisibled commented on #84
damn you are right friend, i'm getting consistant responses now. I wasn't sure what should be returning so i believe thats why i left them out when i originally wrote this script.

Just curious... do you know why NOT returning like that gives an not logged in error? I would think the connection i create and store in `crea.client` would stay alive through my functions. Obviously it didn't but JW if

[2017-08-25 19:48] zacronos commented on #84
Sure thing, I'm glad to help.

The reason you get logout errors from a missing return is because of the way the `getAutoLogoutClient()` "magic" is implemented.  Basically, it expects your handler function to return a promise, and it keeps the client logged in until that promise resolves -- and then it logs out for you.  If the promise chain isn't correctly preserved, the logout will happen before

[2017-08-25 19:54] invisibled commented on #84
ahhhh gotcha, that helps a lot thanks for that explanation! My day job is ONLY real estate now, and i've been working with this library more often so i'm really trying to understand it as much as i can, it's very helpful. Thanks!

[2017-08-25 19:54] #84 closed

[2017-09-16 19:14] Jujunol opened #85 "Cannot install via NPM"
## The problem

When doing the follow command `npm i --save rets-client` (also tried `npm i --save rets-client@~4.*` ) it just crashes.

## NPM Debug Log
[code]

[2017-09-16 21:07] zacronos commented on #85
This is a known issue with npm v5.4.x on Windows (and is not specific to rets-client).  See https://github.com/npm/npm/issues/18380 for more information.  For now, your only real option is to roll back to npm v5.3.x.

[2017-09-16 21:07] #85 closed

[2017-09-17 23:47] Jujunol commented on #85
Thanks for your help.
The weird part about that solution would be that I can still do `npm i` with other packages, it was just `rets-client` that I was experiencing the problem.

## Update
I just rebuilt the `node_modules` folder using `npm@5.3.0` and still experiencing the problem

[2017-09-18 00:56] zacronos commented on #85
Try the following (still with npm v5.3.x):
[code]

[2017-09-18 14:37] esvinson commented on #85
node-expat required node-gyp, and node-gyp requires python.

https://github.com/nodejs/node-gyp#on-windows

[2017-09-20 15:07] tjiasan opened #86 "Client.headers['RETS-UA-Authorization'] after Client.login()"
[code]

I'm having an issue with SFAR where the RETS-UA-Authorization header is lost during subsequent queries after login, giving an unauthorized client password error. Whereas the second version of the code works fine and retains the header throughout secondary queries.

[2017-09-20 15:08] tjiasan commented on #86
`//version 1
let Client;
Client = new rets.Client(clientSettings);
Client.login()
    .then(()=>{
           //hackish fix
            var a1, retsUaAuth;
            if (Client.settings.userAgentPassword && Client.settings.sessionId) {
                a1 = crypto.createHash('md5').update([Client.settings.userAgent,
             Client.settings.userAgentPassword].join(":")).digest('hex');

[2017-09-20 15:24] esvinson commented on #86
The 'hackish' fix is necessary because the session id doesn't get set until after you login (The getAutoLogoutClient function handles that), so the RETS-UA-Authorization header has to be updated with that session ID after login.  It might be possible to incorporate that logic into an additional `.then` in the login function itself, which is probably a better way to do it than the way I implemented

[2017-09-20 15:53] esvinson commented on #86
I will take a look at it and do some testing later today.

[2017-09-20 15:57] zacronos commented on #86
Good catch, this was a very straightforward change.  It's up on master, but I'm having some trouble with `npm publish` so I haven't cut version 5.0.3 yet.  I'll do that when I can figure out what the problem is.

[2017-09-20 16:00] zacronos commented on #86
It's possible the problem is on NPM's end (https://status.npmjs.org/), I'll try again later.

[2017-09-20 16:32] zacronos commented on #86
v5.0.3 is up now, it should fix this.

[2017-09-20 16:32] #86 closed

[2017-09-20 18:16] tjiasan commented on #86
Thanks a lot, really helpful

[2017-11-15 20:31] crivera opened #93 "error getting photos"
Hi

i am trying to follow the code and test the getting of photos but i am not sure if have a wrong id or something else

i am using the standard code

`rets.getAutoLogoutClient(clientSettings, function (client) {
  return client.objects.getAllObjects('Property', 'LargePhoto', '184415436', {alwaysGroupObjects: true, ObjectData: '*'})
}).then(function (photoResults) {
  console.log('===============

[2017-11-15 21:25] crivera commented on #93
not an issue... found out my rets server does not allow getObject and i need to query for photos

[2017-11-15 21:25] #93 closed

[2017-11-27 18:49] Jscott388 opened #94 "20201 no records found causes crashes"
The no records found makes node crash. I don't want this happen and shouldn't crash when trying to fetch for updated records.

RetsReplyError: RETS Server reply while attempting search - ReplyCode 20201 (NO_RECORDS_FOUND); ReplyText: No Records Found.
    at processStatus (/Users/joshuascott/Documents/web/RealEstateAWS/node_modules/rets-client/dist/utils/retsParsing.js:122:29)
    at Parser.<anony

[2017-11-27 18:57] Jscott388 commented on #94
Nevermind wrong method used

[2017-11-27 18:57] #94 closed

[2018-01-08 17:36] Siggs2000 opened #95 "Receiving 401 on login after NO_RECORDS_FOUND on previous query"
I'm working with a Rappatoni mls system and have broken down the queries it's pricing slots to get a manageable number results for each query (ex: `$100000-$200000', etc). Rappatoni systems only allow a single session per login at a given time too.

What I'm seeing quite often now is that if I make a query for a pricing slot using `getAutoLogoutClient` and that has a `NO_RECORDS_FOUND` response, i

[2018-01-08 17:48] esvinson commented on #95
Note that the `NO_RECORDS_FOUND` event generally throws an exception as it's part of an 'error' event from the RETS server.  Most likely you're not handling that exception/event, and therefore it's triggering the logout because the client handler promise ends in a failed state, triggering the logout function after it thinks the handler function completed.

[2018-01-10 03:03] rkotangoor commented on #70
Anyone found a solution for this one? please share.

[2018-01-10 06:00] #82 closed

[2018-01-10 06:07] rajeshdh opened #96 "Getting 401 while trying to login using a proxy"
I am trying to connect to one of the  Metrolist MLS systems that require me to log in using a proxy.
I have specified proxy URL in the following format.
`http://username:password@myproxy.com:xxxx`
But I am not able to log into the system and getting 401 Unauthorized error.

Note-: The proxy and MLS credentials were tested and working in ruby rets library.

[2018-01-10 13:52] esvinson commented on #96
Try passing `useTunnel` as well.
[code]

[2018-01-10 14:09] rajeshdh commented on #96
It didn't work. I am getting
`Error: tunneling socket could not be established, statusCode=403`

[2018-01-10 14:22] esvinson commented on #96
Do you have any debug output you could share?

We use this with a proxy (proximo.io plugin from Heroku) without any issues, but I think we had to use tunneling because it wasn't passing headers properly to generate the RETS Session ID.

[2018-01-10 15:08] rajeshdh commented on #96
`DEBUG=* node index.js`  gives me
[code]

[2018-01-10 16:04] esvinson commented on #96
How about the output when tunneling is disabled?

[2018-01-10 16:14] rajeshdh commented on #96
Here it is
[code]

[2018-01-10 17:12] esvinson commented on #96
You'll want to strip out/obfuscate the value in the `proxy-authorization` from your comment above (base64 credentials).

I think this might be the same issue we were seeing, where the server validates the Digest auth based on the relative URL but the request library generates the digest based on the Full URL because it has to send it through the proxy. (https://github.com/request/request/blob/v2.8

[2018-01-10 17:40] esvinson commented on #96
Enabling tunneling worked for us because it skips this:
https://github.com/request/request/blob/v2.83.1/request.js#L398-L400
[code]

[2018-01-10 19:18] esvinson commented on #96
I have a fix for this:  (Verified locally using the same Sacramento Metrolist feed (our credentials))
https://github.com/esvinson/request/tree/bugfix/proxy-url-fix
https://github.com/esvinson/request/commit/b92f08e238eccf842f46cb6d10fdb82911e8e260

I won't have time today to build out the necessary tests for them to approve getting this merged though.

[2018-01-11 05:54] rajeshdh commented on #96
This worked for me. Thanks a ton.

[2018-01-11 21:55] anchoritnext opened #97 "client.search.query throwing "Error while processing RETS response for search - Failed to parse delimiter""
QueryOptions = { QueryType: 'DMQL2',
     Format: 'COMPACT-DECODED',
     Count: 1,
     StandardNames: 0,
     RestrictedIndicator: '***',
     Limit: 1,
     SearchType: 'Listing',
     Class: 'Listing',
     Query: '(SaleOrRental=S)' }

Problem seems to stem from getStreamParser function in retsParsing.js where delimiter is being set to null because of no metadataTag. Any ideas?

[2018-01-11 22:19] esvinson commented on #97
The RETS spec specifies `A tab character (an octet with a value of 09) is the default delimiter unless another is specified as part of the transaction.` so I think I'd consider it a bug that it defaults to null.  https://github.com/sbruno81/rets-client/blob/master/lib/utils/retsParsing.coffee#L69
Updating that to '\t' should work, as it should be overridden if it sees a delimiter tag.

[2018-01-11 23:01] anchoritnext commented on #97
Great. Thanks. I can change that locally for now. Any chance it can be fixed in the next release?

[2018-01-28 16:15] TENDesign opened #103 "having problems setting up a typescript class"
I am working on a retriever. To be honest this is really my first venture into nodejs. I am using typescript and transpiling to native. I am getting this error when I run my script:

[code]

and so my script is built like this. I first have a file containing the login credentials for 1 mls...

[code]

then my retriever class:

[code]

and then lastly i call the class in my index.ts

[code]

i thou

[2018-01-29 20:34] invisibled opened #104 "Documentation on lookup metadata & values"
I'd love to have a bit more documentation on how to retrieve metadata lookup values. Is there a way to retrieve just one field's values? Something like `client.metadata.getLookupTypes("Property ","Area")`.

I'm currently looking through the source code trying to figure out if and how i can do this. Any info would be welcomed! thank you.

[2018-01-29 20:40] esvinson commented on #104
You would need to know the LookupName for the field which you get by pulling the table schema.

Table schema:
[code]

Lookup values once you know the LookupName:
[code]

[2018-01-29 20:46] invisibled commented on #104
ahh easy, thank you!

[2018-01-29 20:46] #104 closed

[2018-01-30 00:17] #97 closed

[2018-01-30 00:30] zacronos commented on #103
In your retriever class, try using `import * as rets from 'rets-client';` -- let me know if that does what you want.

[2018-01-30 00:32] #96 closed

[2018-01-30 03:52] TENDesign commented on #103
yep!

[code]
then my response was:
[code]
So I would have thats exactly what was expected. I assume I should now be able to access all the available methods as excpected in the docs!

[2018-01-31 18:40] mlucic opened #105 "GetObject doesn't use host provided by login response"
I've compared the result of logging in and running getAllObjects for two different MLS'. The GetObject value for the first MLS is simply the servers getObject endpoint, however for the second MLS they provide the host plus the path. When I log the URI object being used for the requests I notice that the host is not the one that was provided in the login response under GetObject, but simply the sam

[2018-01-31 18:44] esvinson commented on #105
Very interesting, which MLS is the one that's providing the full URI?

[2018-01-31 18:55] esvinson commented on #105
I do see the issue in the normalizeUrl function, https://github.com/sbruno81/rets-client/blob/master/lib/utils/normalizeUrl.coffee#L9-L20 function.

[2018-01-31 19:28] esvinson commented on #105
@mlucic can you try manually making the change in #106 and see if that fixes your issue and doesn't cause any authentication issues?

[2018-01-31 19:38] mlucic commented on #105
@esvinson Unfortunately that just results in a 401 on login. "RetsServerError: RETS Server error while attempting login - HTTP Status 401 returned (Unauthorized)"

[2018-01-31 20:00] esvinson commented on #105
I was worried about that, what MLS is that?

[2018-01-31 20:13] mlucic commented on #105
@esvinson IRES https://ires-net.com/

[2018-01-31 20:14] mlucic commented on #105
IRES http://www.ires-net.com/

[2018-01-31 20:53] esvinson commented on #105
Looks like they're going to possibly merge with REColorado at some point which I know works, but we don't have credentials for IRES so it's not going to be something I can easily test/debug at this time.

[2018-02-06 22:18] mlucic commented on #105
@esvinson Not sure what changed from the last time I tested #106 but I just tested again and I successfully got photos.

[2018-02-12 03:30] esvinson commented on #105
@mlucic did you maybe not run the build process after making the change previously?  If it's working I can reopen the pull request.

[2018-02-12 16:14] mlucic commented on #105
@esvinson Whatever happened doesn't seem to be the case anymore. With the changes in 106 I'm able to get IRES photos successfully. I would recommend reopening.

[2018-02-12 16:15] esvinson commented on #105
Reopened.

[2018-02-27 16:05] nicholassawyer99 opened #107 "TypeError: exists is not a function"
So forgive me if this is a dumb question but not sure why I keep receiving this error after installing 'rets-client' then just trying to run it.
in console:
Uncaught TypeError: exists is not a function
    at Function.getRoot (modules.js?hash=289af2e03ac515ca3d561842ce00684f76ac016c:88629)
    at bindings (modules.js?hash=289af2e03ac515ca3d561842ce00684f76ac016c:88531)
    at node-expat.js (module

[2018-02-27 16:44] nicholassawyer99 commented on #107
Sorry, I accidentally put it in a js file instead of ts file. Oops lol

[2018-02-27 16:44] #107 closed

[2018-03-20 16:38] mlucic opened #108 "RETS Server error while attempting search - HTTP Status 401 returned (Access Denied)"
The change in #106 has unfortunately resulted in a 401 error being thrown when attempting a search on DABR's (Dayton Area Board of Realtors) RETS server. Reverting the changes from #106 fixes the issue, however that would not be a viable solution as it would reintroduce #105 .

[2018-03-20 16:47] #105 closed

[2018-03-20 16:54] esvinson commented on #108
Bah, another one I don't have access to! :-P

Try making sure you're hitting the proper URL and not one that's redirecting to a 301/302 or something.

Try turning on debug `DEBUG=rets-client:*` in environment.
Then check the output for the `body` after the login command runs.
It should show a list of endpoint URLs.  You should be logging into the URL specified by the `Login=` endpoint, or is it re

[2018-03-20 17:05] mlucic commented on #108
@esvinson FYI the issue isn't when logging in, the client logs in without error. The issue occurs when executing a search.

[2018-03-20 17:09] esvinson commented on #108
I understand that, but if it's logging in to a different URL than what it expects the cookies are stored for the domain you logged into, not the one it might be trying to query.

[2018-03-20 17:34] mlucic commented on #108
@esvinson Looking at the login response, we can see the source of the issue. The URLs in the response are all absolute. We login using a proxy (RETS server has IP restrictions...), but when we attempt to execute a search it uses the absolute URL from the login response, hence the 401. A potential solution would be to allow for proxy settings to be defined on the client such that hosts can be mappe

[2018-03-20 17:46] esvinson commented on #108
Try passing {useTunnel: true} as an option to the RETS client if your proxy supports it.

[2018-03-20 18:43] mlucic commented on #108
@esvinson Simply setting proxyUrl did the trick for us. Appreciate the assistance in clearing things up.

[2018-03-20 18:43] #108 closed

[2018-03-22 17:24] mkuhnsbuildfire opened #109 "Multiple Connections issues"
Our MLS shut us down because of multiple connects (7 in total, not a lot). Is there anyway to make connections synchronous, so they block until the connection is closed?
Thanks in advance.

[2018-03-22 17:27] esvinson commented on #109
You can use async / await or promises and only move onto the next query/photo etc once each step has completed.

[2018-03-22 23:35] mkuhnsbuildfire commented on #109
I tried using promises, but when I hit
[code]
It goes async again.

Perhaps I am not understanding how this module works.
I have a function
[code]
I call this function from another function, which if there is 'NO_RECORDS_FOUND' returned in the catch, queries again with a new searchStr. By this time, I've been autologged out. I am also doing another query to get pictures (This mls stores pics as UR

[2018-03-22 23:45] esvinson commented on #109
You're not returning `rets.getAutoLogoutClient` which is a Promise.
So what you code is doing is calling getMLSData, immediately returning a promise, and then calling the next query all before the login has probably even started.

You need to `return rets.getAutoLogoutClient` and make sure the promise has resolved before running your next query.  async/await makes this very simple, and I'd recomme

[2018-04-07 18:16] hamedmam opened #110 "Getting 400 error on login"
Hi,

Thanks for such a great work.
I am trying to use rets-client to login and I have copied and pasted your example without no changes except for retsLoginUrl, retsUser, and retsPassword
and that is the complete error using DEBUG

  uri: 'http://rets.torontomls.net:6103/rets-treb3pv/server/login',
  method: 'GET',
  headers:
   { 'User-Agent': 'RETS node-client/4.x',
     'RETS-Version': 'RETS/1.

[2018-04-10 04:17] hamedmam commented on #110
@esvinson can you help me please ?

[2018-04-10 05:01] esvinson commented on #110
Try setting the version option to RETS/1.7  instead of RETS/1.7.2  trying the URL directly wouldn't give me the auth popup unless the version was 1.7.

`{version: 'RETS/1.7'}`

[2018-04-10 05:27] hamedmam commented on #110
Thanks a lot. That solved it. Way to go guys

[2018-04-10 05:28] #110 closed

[2018-04-14 18:54] hamedmam opened #111 "Query Type Error 20203"
I am trying to query all the listing using search method. unfortunately, I keep getting 20203 error, I looked up in previous issues and found out setting RestrictedIndicator to "RESTRICTED" might solve it but did not in my case

query:
`var streamResult = client.search.stream.query(
            'Property',
            'RES',
            '(status=A)',
            { limit: 10, offset: 4, restrictedI

[2018-04-14 19:07] esvinson commented on #111
What MLS are you trying to query?  They might not support DMQL2.

[2018-04-14 21:28] hamedmam commented on #111
@esvinson it is Toronto MLS http://rets.torontomls.net:6103/rets-treb3pv/server/login
that is the login url

[2018-04-14 22:53] hamedmam commented on #111
Turned out the problem was 'RES' it must have been 'ResidentialProperty'
replaced it and worked, thanks again

[2018-04-14 22:53] #111 closed

[2018-07-17 12:34] steltz opened #113 "Does this client still work with RETS v1.7.2?"
I've confirmed my RETS credentials on RETS M.D. but I keep getting 401 Unauthorized when I try to authenticate using the code examples in the README.

Any pointers would be greatly appreciated, thank you!

[2018-07-17 12:45] steltz commented on #113
After more investigation,

[2018-07-17 12:45] steltz commented on #113
accidentally closed, still having same issues.

[2018-07-17 12:48] sfurnival commented on #113
I can confirm it works well with RETS 1.7.2.  Something about the credentials you're using are inconsistent.

[2018-07-17 12:53] steltz commented on #113
Thanks for the quick response. Here are my credentials:

`var clientSettings = {
  loginUrl: 'http://rets172lax.raprets.com:6103/Annarbor/ANNA/login.aspx',
  username: 'XXXXXXX',
  password: 'XXXXXXX',
  version: 'RETS/1.7.2',
  userAgent: 'RETS node-client/5.2',
  method: 'GET' // this is the default, or for some servers you may want 'POST'
};`

Does anything look out of place?

[2018-07-17 12:57] steltz commented on #113
Here are my credentials, does anything look wrong?

[code]

[2018-07-17 13:10] steltz commented on #113
I was given both an "MLS ID" (and password) and "RETS User Agent" (and password), which one should I be using to authenticate using this client? I've tried both as defined in the examples, but I'm not sure which value to use for `sessionId` when authenticating with my User Agent credentials.

[2018-07-17 13:16] zacronos commented on #113
@sfurnival Just to be sure I understand, are you saying you have used `rets-client` with RETS M.D. without issue?

@steltz I don't have any experience with RETS M.D., but everything looks fine that I can see.  If you've already confirmed your credentials and are sure your account is active/working, the only thing I can think of would be if your password (or username) contains characters that are n

[2018-07-17 13:19] zacronos commented on #113
@steltz Ah -- in that case, please follow the UA Authorization example.  As for `sessionId`, off the top of my head I'm not sure.  It has been over a year since I've used `rets-client` myself, and in fact never had reason to use UA Authorization.  Maybe try omitting `sessionId` altogether and see if that works, it's possible my example is incorrect.

[2018-07-17 13:45] esvinson commented on #113
Try using `RETSMD/1.0` as the User Agent, that's what they gave us.

[2018-07-17 14:54] esvinson commented on #113
I didn't see this comment earlier.  If you were given a user agent AND user agent password then you'll need to use all 4 pieces of credentials for authentication.  We weren't given a user agent password to use on AAABOR though. (See previous comment about `RETSMD/1.0`)

Example using Standard + UA Auth.
[code]

[2018-07-17 15:02] esvinson commented on #113
I remember it being mentioned in an issue in the past, but the UA Auth Example in the README is incorrect, as (from what we've seen) username/password are always required.  Sometimes a specific user agent is required, and then there's the rare case where there's a user agent password as well.  Then there's sometimes the instance where they limit the connection to specific IP's which generally requ

[2018-07-17 17:02] steltz commented on #113
@esvinson Thank you so much for the response. I think my issue is that I didn't specify the correct user agent when I was requesting credentials from AAABOR. I'm going to try and update my user agent to `RETSMD/1.0` with no password with AAABOR.

[2018-07-17 21:46] steltz commented on #113
I got it working, it turns out I didn't name my user agent in the correct format. As @esvinson pointed out, the user agent needs to be formatted like `USERAGENT_HERE/#.#`. The board of realtors form I filled out to get credentials prompted me for a user agent name and password, little did I know that user agent name had to be formatted correctly and password was not required (for the RETS server I

[2018-07-26 23:13] steltz opened #114 "Using rets-client with AWS Lambda"
Is anyone using this package with AWS Lambda?

I can run my Lambda function locally using the Serverless framework and everything works fine. But when I upload my function to Lambda, I'm getting an error with one of the dependencies of this package. I'm getting the following error with the `node-expat` package:

[code]

[code]

I found this post about an unrelated package which seems to be the sam

[2018-07-26 23:32] steltz commented on #114
I found this closed issue on the node-expat repo:

https://github.com/astro/node-expat/issues/173

`node-expat` seems to be an old, unmaintained package. I wonder what the effort would be to refactor this package out of the dependencies and replace with a newer XML parser.

[2018-07-26 23:38] barrct commented on #114
You need to ensure that you build the package in the Lambda environment.I forget exactly what it is, but it is AWS Linux.So, fire up an AWS linux EC2, pull your source down, NPM install and let it build there.That is what needs zipped up and pushed into Lambda. Because of that, I store the npm data within my git repo so that I maintain the source compiled module.
If needed, I can pull out some of

[2018-07-29 12:48] steltz commented on #114
@barrct Thanks for the response! I've been having a really tough time getting the `rets-client` package to run in Lambda.

I spun up an ec2 instance using the Linux AMI that Lambda uses:

`amzn-ami-hvm-2017.03.1.20170812-x86_64-gp2`

On my ec2 instance, I can't get node-expat to install properly. I've tried running `npm i` using all the versions of Node supported by Lambda (v4.3, v6.10, v8.10).

D

[2018-08-16 07:31] svenvarkel opened #115 "Buffer.write(string, encoding, offset[, length]) is no longer supported"
It seems that some component that rets-client uses is still using deprecated and outphased NodeJS calls.

This error occurs when I try to pull media from a RETS server:

[code]

[2018-08-17 02:43] #114 closed

[2018-08-17 11:42] svenvarkel commented on #115
It can be fixed by upgrading formidable dependency

[2018-09-27 19:40] Marko-Jankovic opened #117 "ReplyCode 20513 for Iresis Feed"
Hi,

I've tried to set "ID" instead of "Id" [here](https://github.com/sbruno81/rets-client/blob/5a151cde8ad24c0ea73c82bc27a98533d6721c5a/lib/clientModules/metadata.coffee#L139) and it works fine.

[2018-10-01 13:55] #117 closed

[2018-10-27 21:14] maxtocarev opened #119 "Inconsistent response for getAllObjects("Property", "Photo", "123456:*", {Location: 1})"
I'm trying to get a list of URIs pointing to pictures and at least once every ten queries, the response doesn't get parsed correctly.

First of all, even if I get a correct number and content of URIs, objectId's get sorted 1,3,5,7,9 and then 2,4,6,8,10.

Second, when I get incorrect response, the order of ids goes the following way: 1,3,5,7,9, 1,3,5,7,9. The even numbers never get returned.

I've

[2018-10-27 21:17] esvinson commented on #119
Which MLS is this for?

I've seen issues with one MLS returning multiple items with improper HTTP multipart boundaries, and had to use a customized version of the Formidable library because of that.

[2018-10-27 23:06] esvinson commented on #119
Looking at #34, based on the URL, it appears it was related to SFAR.  You could try using my version of the client as a test.

https://www.npmjs.com/package/@esvinson/rets-client

This version has the customized Formidable, and we have been using it in production syncing 60+ feeds for a couple years.

Note that it isn't 100% up to date with the current rets-client.
It's at last missing these merge

[2018-10-28 03:55] maxtocarev commented on #119
Great, thanks! I'll look into it more. Cheers.

[2018-11-27 22:34] dboune opened #120 "Typings property in package.json points to wrong file"
Currently the typings property in package.json points to dts/index.ts. It should point to dts/index.d.ts.

#92 attempts to fix this, and possibly some other issues.

[2018-11-30 22:37] apocist commented on #115
Ran into the same issue, looks to now be fixed with #112

[2018-11-30 23:57] apocist commented on #119
Thank you esvinson! I npm shrinkwrapped rets-client 5.2.3 to forcibly use `@esvinson/formidable": "^1.1.2"` and this seems to be acting as a great workaround so far for MLSs that still require GetObject.

I'm running off node 10.13.0 and haven't noticed any abnormalities yet.

[2018-12-07 07:56] fullstackrelibit opened #121 "cannot get agent by id: client.search.query('Agent', 'Agent', "(AgentID=CORC-6)")"
I want to get Agent records by using client.search.query('Agent', 'Agent', "(AgentID=CORC-6)") query.

But it is giving empty records:
"data": {
    "results": [],
    "maxRowsExceeded": false,
    "replyCode": "0",
    "replyTag": "OPERATION_SUCCESSFUL",
    "replyText": "Operation Successful",
    "count": 0,
    "rowsReceived": 0
  }

I tried everything and using 5.2.3 version.

[2018-12-07 14:15] esvinson commented on #121
For any values with non-alphanumeric characters it's usually a good idea to quote the value.

Try:
`client.search.query('Agent', 'Agent', '(AgentID="CORC-6")')`

If that still doesn't find anything that ID might be invalid or your credentials may not have access to it.

[2018-12-12 11:05] fullstackrelibit commented on #121
Thank's this is working now.

[2018-12-12 11:05] #121 closed

[2019-01-29 02:22] michaelrizzello commented on #114
@steltz have you been able to get rets-client to work on lambda?

[2019-04-09 21:48] et4891 opened #122 "rets-client cannot get photo ReplyCode 20403 (NO_OBJECT_FOUND)"
I ran other `query` and get `meta` which works fine but when I am trying to do the `photo streaming example` I kept on getting errors

`Error: RetsReplyError: RETS Server reply while attempting getObject - ReplyCode 20403 (NO_OBJECT_FOUND); ReplyText: No Object Found [260978536:1].`

I followed the the code in the example
https://github.com/sbruno81/rets-client#photo-streaming-example

    try {

[2019-05-01 18:48] settugowtham commented on #93
Hey Chris,

Could you please provide sample code for reference? I'm facing the same issue

Thanks
Gowthan

[2019-07-15 15:45] justin4builderdesigns opened #123 "Replace bufferstream to support modern Node versions"
The use of the bufferstream library unfortunately means a lack of modern Node version support. The bufferstream library was last published 6 years ago and depends on buffertools, which according to https://github.com/bnoordhuis/node-buffertools/issues/93 is going to be moved to unmaintained. At present Node 11+ are not able to use the rets-client because of this dependency.

From a review of your

[2019-08-29 08:58] mebibou commented on #85
Having the same issue on Mac with npm `6.11.2` and node `v6.17.1`

[code]

[2019-10-07 14:21] JesseAbram opened #126 "Offset does not seem to be working"
Package version
5.2.3

RETS version
1.7 (the Toronto one, seems to have a lot of issues dedicated to it)

Problem
We are trying to pull the whole RETS database into our own database to limit our query's on the RETS server. Therefore we are trying to loop through the requests incrementing our offset by our limit amount so we can pull the whole database into ours while limiting the size of our queri

[2019-10-07 14:36] zacronos commented on #126
I've seen this before -- it is most likely not a problem with rets-client, it is that your RETS server is configured to ignore the offset parameter.  Usually, this is a business choice because they specifically want to prevent folks from pulling the entire database, as you are trying to do.

I suggest you reach out to your technical contact for the RETS server, and discuss the issue with them.  Th

[2019-10-07 14:36] #126 closed

[2019-10-07 14:41] esvinson commented on #126
Yeah, most likely the RETS server doesn't allow the use of offset.  I'd recommend trying to accomplish what you're trying to do by pulling back just the ID values from your normal query, and then do queries on large subsets of those IDs. (500+ at a time if it supports it)

[2019-10-30 20:20] irkanu commented on #114
@steltz Would love to know what you did to resolve this.

[2019-12-02 20:00] taylorjames commented on #123
Any updates on this?

[2019-12-04 14:02] aconital opened #127 "Abandoned?"
Hi @zacronos & @esvinson, I'm curious if this repo is abandoned or are there plans to support it. There are a few pull requests that are waiting for a while.

[2019-12-13 16:48] mlucic commented on #119
To anyone who is still encountering this issue, I solved this by changing formidable to point to my fork ("formidable": "git+https://github.com/mlucic/node-formidable.git"). The fork simply includes the changes made in this commit: https://github.com/knledg/node-formidable/commit/e28e0ab061f0be669d95d1cdbc21ba775297f101

Kudos to @esvinson for the solution.

[2020-03-18 18:50] taylorjames commented on #127
I also have the same concern

[2020-03-19 23:15] esvinson commented on #127
I no longer work with the company that was using RETS, so unfortunately I don't really have the ability to test changes anymore as I no longer have access to the multitude of RETS feeds I once did.

[2020-05-22 19:52] MustafaSohail1 commented on #110
@hamedmam Hey bro, I also want to access the data of TREB real estate listings into my website.
Can you help me in this matter? if yes than please contact me through my email.
**Email: mushiindus@gmail.com**

[2020-11-11 07:13] francefaraz opened #129 "RETS Server reply while attempting getObject - ReplyCode 20401 (INVALID_OBJECT_TYPE); ReplyText: Invalid Type"
###
 **client login and photo streaming getting correct result of fetching data but in photo streaming it gives error INVALID_OBJECT_TYPE**

**### MY CODE:**

 rets.getAutoLogoutClient(clientSettings, function (client) {
        res.send('Login Successfull Go To Console To see The Results');

        //get resources metadata//perform a query using DMQL2 -- pass resource, class, and query, and opti

[2020-11-16 05:49] francefaraz commented on #129
i found solution by myself guys the getObjects methond and getAllObject Method is not supported to my rets-server so i write a query instead of using that method

here is my code which works fine
client.search.query("Media", "Media",  '(ResourceRecordKeyNumeric='+lisid[j]+')', { limit: 50 })
               .then(async function (searchData) {
                   console.log('getting details:')

[2020-11-16 05:50] #129 closed